
<div class="table-box table-box-fixed">
    <table id=table_001 class="sb_table fixed" type=sb sb_url=config sb_id=001 sb_title=城建税、教育费附加、地方教育附加税（费）申报表>
        <colgroup><col width=90><col width=90><col width=120><col width=120><col width=120><col width=70><col width=120><col width=120><col width=120><col width=170><col width=120><col width=120><col width=120><col width=120></colgroup>
        <thead>
            <tr>
                <td colspan=14 height=60 class=table-title>城建税、教育费附加、地方教育附加税（费）申报表</td>
            </tr>
            <tr class=hidden></tr>
            <tr class=hidden></tr>
            <tr>
                <td colspan=8 class=txt-l>
                    税款所属期限：
                    <span class=sssqq></span>至
                    <span class=sssqz></span>
                </td>
                <td colspan=6 class=txt-r>金额单位：元（列至角分）</td>
            </tr>
            <tr>
                <td colspan=14 class=txt-l>纳税人识别号: <span class=nsrsbh></span></td>
            </tr>
        </thead>
        <tbody>
            <tr class=tr-title>
                <td colspan=2 rowspan=3 style="text-align: center">纳税人信息</td>
                <td class=hidden></td>
                <td>名称</td>
                <td colspan=6 class=txt-l><span class=nsrmc></span></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>纳税人分类</td>
                <td colspan=4 class=txt-l>
                    <input type=radio id=isDw name=nsrfl value=1 checked="" disabled= disabled>
                    <label for=isDw>单位</label>
                    <input type=radio id=isGr name=nsrfl value=2 disabled= disabled>
                    <label for=isGr>个人</label>
                </td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
            </tr>
            <tr class=tr-title>
                <td colspan=2 class=hidden></td>
                <td class=hidden></td>
                <td>登记注册类型</td>
                <td colspan=5 class=txt-l><span id=djzclx class=djzclxDm></span></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>所属行业</td>
                <td colspan=5 class=txt-l><span id=sshy class=hyDm></span></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
            </tr>
            <tr class=tr-title>
                <td colspan=2 class=hidden></td>
                <td class=hidden></td>
                <td>身份证件号码</td>
                <td colspan=5 class="txt-l enable"><input class=sfzjhm type=text servyou_type=string></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>联系方式</td>
                <td colspan=5 class="txt-l enable"><input class=lxfs type=text servyou_type=string></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td rowspan=3 colspan=4>本期是否适用增值税小规模纳税人减征政策</td>
                <td rowspan=3 colspan=3 class=txt-l><input id=sfXgmjz class=mini-checkboxlist data="[{'ID':'Y','MC':'是'},{'ID':'N','MC':'否'}]" valuefield=ID textfield=MC multiselect=false onvaluechanged=fjs.xgmjzzcChanged enabled=false></td>
                <td colspan=4>减征比例_城市维护建设税（%）</td>
                <td colspan=3 class=txt-r><input type=text servyou_type=percent disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=4>减征比例_教育费附加（%）</td>
                <td colspan=3 class=txt-r><input type=text servyou_type=percent disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=4>减征比例_地方教育附加（%）</td>
                <td colspan=3 class=txt-r><input type=text servyou_type=percent disabled= disabled></td>
            </tr>
        </tbody>
        <tbody>
            <tr class=tr-title>
                <td colspan=2 rowspan=3>税（费）种</td>
                <td colspan=5>计税（费）依据</td>
                <td rowspan=3>税率（征收率）</td>
                <td rowspan=3>本期应纳税（费）额</td>
                <td colspan=2 rowspan=2>本期减免税（费）额</td>
                <td rowspan=3>本期增值税小规模纳税人减征额</td>
                <td rowspan=3>本期已缴税（费）额</td>
                <td rowspan=3>本期应补（退）税（费）额</td>
            </tr>
            <tr class=tr-title>
                <td colspan=2 class=hidden></td>
                <td colspan=2>增值税</td>
                <td rowspan=2>消费税</td>
                <td rowspan=2>营业税</td>
                <td rowspan=2>合计</td>
            </tr>
            <tr class=tr-title>
                <td colspan=2 class=hidden></td>
                <td>一般增值税</td>
                <td>免抵税额</td>
                <td colspan=5 class=hidden></td>
                <td width=120>减免性质代码</td>
                <td>减免额</td>
            </tr>
            <tr class=tr-title>
                <td colspan=2></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5=1+2+3+4</td>
                <td>6</td>
                <td>7=5*6</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12=7-9-10-11</td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=percent digit=4 disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled data-type=bqynse></td>
                <td class=txt-l><select data-type=jmxz disabled= disabled></select></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative class=jzse disabled= disabled></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled></td>
                <td class=txt-r><input type=text disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=2>合计</td>
                <td class=hidden></td>
                <td class=txt-r><input type=text disabled= disabled value=0.00></td>
                <td class=txt-r><input type=text disabled= disabled value=0.000000></td>
                <td class=txt-r><input type=text disabled= disabled value=0.000000></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled value=0.00></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled value=0.00></td>
                <td>--</td>
                <td class=txt-r><input type=text disabled= disabled value=0.00></td>
                <td class=txt-r><input type=text disabled= disabled value=0.00></td>
                <td class=txt-r><input type=text disabled= disabled value=0.00></td>
                <td class=txt-r><input type=text disabled= disabled value=0.00 class=ybtse></td>
            </tr>
            <tr class=tr-title>
                <td colspan=2 class="title txt-bold txt-l">以下由纳税人填写：</td>
                <td colspan=12></td>
            </tr>
            <tr class=tr-title>
                <td colspan=2 class="title txt-l">纳税人声明</td>
                <td colspan=12 class="txt-bold txt-l">此纳税申报表是根据《中华人民共和国城市维护建设税暂行条例》、《国务院征收教育费附加的暂行规定》、《财政部关于统一地方教育附加政策有关问题的通知》和国家有关税收规定填报的，是真实的、可靠的、完整的。</td>
            </tr>
            <tr class=tr-title>
                <td colspan=2 class="title txt-l">纳税人签章</td>
                <td colspan=2></td>
                <td colspan=2 class="title txt-l">代理人签章</td>
                <td colspan=2></td>
                <td colspan=2 class="title txt-l">代理人身份证号</td>
                <td colspan=4></td>
            </tr>
            <tr class=tr-title>
                <td colspan=2 class="title txt-bold txt-l">以下由税务机关填写：</td>
                <td colspan=12></td>
            </tr>
            <tr class=tr-title>
                <td colspan=2 class="title txt-l">受理人</td>
                <td colspan=2></td>
                <td colspan=2 class="title txt-l">受理日期</td>
                <td colspan=2></td>
                <td colspan=2 class="title txt-l">受理税务机关签章</td>
                <td colspan=4></td>
            </tr>
        </tbody>
    </table>
</div>