<!DOCTYPE html>
<html lang=zh>
<head>
    <meta charset=UTF-8>
    <meta http-equiv=X-UA-Compatible content="IE=Edge,chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <title>通用申报表（工会经费）</title>
    <link rel=stylesheet href=../../../apps/scripts/reportSB3.0/style.css?v =1539325904007_2.0.0>
    <link rel=stylesheet href=../../../apps/scripts/reportSB3.0/servyouReport.css?v =1539325904007_2.0.0>
</head>
<body>
    <div class=container>
        <div id=tabs class=mini-tabs activeindex=0 style="width: 100%;" plain=false></div>
        <div class=btn-group id=btn-group></div>
    </div>
    <script src=../../../lib/jquery/jquery.min.js?v =1539325904007_2.0.0></script>
    <script src=../../../apps/scripts/miniui.js?v =1539325904007_2.0.0></script>
    <script src=../../../lib/lodop/lodopPrint.js?v =1539325904007_2.0.0></script>
    <script src=../../../apps/scripts/common-include.js?v =1539325904007_2.0.0></script>
    <script src=../../../apps/scripts/reportSB3.0/servyouReport.js?v =1539325904007_2.0.0></script>
    <script src=../apiService/xfsService.js?v =1539325904007_2.0.0></script>
    <script src=sb_gdlh_tysbb.js?v =1539325904007_2.0.0></script>
</body>
</html>