
<div class="table_box table-box-fixed">
    <table id=table_001 class="sb_table fixed" type=sb sb_url=config sb_id=001 sb_title=企业所得税月（季）报B类 width=100%>
        <colgroup><col width=100><col width=100><col width=200><col width=200><col width=200><col width=200></colgroup>
        <thead>
            <tr>
                <td colspan=6 class=table-title>B100000中华人民共和国企业所得税月（季）度预缴和年度<br>纳税申报表（B类，2018年版）</td>
                <td class=hidden><input type=text value=0.00></td>
            </tr>
            <tr>
                <td colspan=6 class=txt-c>
                    税款所属期间：
                    <span class=sssqq></span>至
                    <span class=sssqz></span>
                </td>
            </tr>
            <tr>
                <td class=txt-l colspan=6>纳税人识别号（统一社会信用代码）：<span class=nsrsbh></span></td>
            </tr>
            <tr>
                <td class=txt-l colspan=3>纳税人名称：<span class=nsrmc></span></td>
                <td class=txt-r colspan=3>金额单位：人民币元(列至角分)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan=2 class=txt-l>核定征收方式</td>
                <td class=hidden></td>
                <td class=txt-l colspan=4><input class=mini-checkboxlist multiselect=false id=hdzsfs valuefield=ID textfield=MC readonly="" data="[{ID: '403', MC: '核定应税所得率（能核算收入总额的）'}, {ID: '404', MC: '核定应税所得率（能核算成本费用总额的）'}, {ID: '402', MC: '核定应纳所得税额'}]"></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td>行次</td>
                <td colspan=4>项目</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>本年累计金额</td>
            </tr>
            <tr>
                <td>1</td>
                <td colspan=4 class=txt-l>收入总额</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td>2</td>
                <td colspan=4 class=txt-l>减：不征税收入</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td>3</td>
                <td colspan=4 class=txt-l>减：免税收入（4+5+8+9）</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td>4</td>
                <td colspan=4 class="txt-l txt-indent-2">国债利息收入免征企业所得税</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td>5</td>
                <td colspan=4 class="txt-l txt-indent-2">符合条件的居民企业之间的股息、红利等权益性投资收益免征企业所得税</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td>6</td>
                <td colspan=4 class="txt-l txt-indent-2">其中：通过沪港通投资且连续持有H股满12个月取得的股息红利所得免征企业所得税</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td>7</td>
                <td colspan=4 class="txt-l txt-indent-4">通过深港通投资且连续持有H股满12个月取得的股息红利所得免征企业所得税</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td>8</td>
                <td colspan=4 class="txt-l txt-indent-2">投资者从证券投资基金分配中取得的收入免征企业所得税</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td>9</td>
                <td colspan=4 class="txt-l txt-indent-2">取得的地方政府债券利息收入免征企业所得税</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td>10</td>
                <td colspan=4 class=txt-l>应税收入额（1-2-3） \ 成本费用总额</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td>11</td>
                <td colspan=4 class=txt-l>税务机关核定的应税所得率（%）</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text disabled= disabled value=0.00% servyou_type=percent></td>
            </tr>
            <tr>
                <td>12</td>
                <td colspan=4 class=txt-l>应纳税所得额（第10×11行） \ [第10行÷（1-第11行）×第11行]</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td>13</td>
                <td colspan=4 class=txt-l>税率（25%）</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text servyou_type=percent disabled= disabled value=25.00%></td>
            </tr>
            <tr>
                <td>14</td>
                <td colspan=4 class=txt-l>应纳所得税额（12×13）</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td>15</td>
                <td colspan=4 class=txt-l>减：符合条件的小型微利企业减免企业所得税</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td>16</td>
                <td colspan=4 class=txt-l>减：实际已缴纳所得税额</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td>17</td>
                <td colspan=4 class=txt-l>本期应补（退）所得税额（14-15-16） \ 税务机关核定本期应纳所得税额</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text servyou_type=nonnegative disabled= disabled value=0.00></td>
            </tr>
            <tr>
                <td colspan=2 class=txt-l>月（季）度申报填报</td>
                <td class=hidden></td>
                <td class=txt-l>小型微利企业</td>
                <td class="txt-l enable"><input type=text id=xwqy class=mini-checkboxlist multiselect=false data="[{ID: 'Y', MC: '是'},{ID: 'N', MC: '否'}]" valuefield=ID textfield=MC onvaluechanged=report.xwqyChange></td>
                <td class=txt-l>期末从业人数</td>
                <td class="txt-r enable"><input type=text servyou_type=nonnegativeInt value=0></td>
            </tr>
            <tr>
                <td rowspan=2 colspan=2 class=txt-l>年度申报填报</td>
                <td class=hidden></td>
                <td class=txt-l>所属行业明细代码</td>
                <td class=txt-l><input type=text servyou_type=string disabled= disabled></td>
                <td class=txt-l>国家限制或禁止行业</td>
                <td class=txt-l><input type=text id=gjxzhy class=mini-checkboxlist multiselect=false data="[{ID: 'Y', MC: '是'},{ID: 'N', MC: '否'}]" valuefield=ID textfield=MC readonly=""></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-l>从业人数</td>
                <td class=txt-r><input type=text value=0 servyou_type=nonnegativeInt disabled= disabled></td>
                <td class=txt-l>资产总额（万元）</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan=6 class="txt-l txt-indent-2 nbb">谨声明：此纳税申报表是根据《中华人民共和国企业所得税法》《中华人民共和国企业所得税法实施条例》以及有关税收政策和国家统一会计制度的规定填报的，是真实的、可靠的、完整的。</td>
            </tr>
            <tr>
                <td colspan=4 class="nbr nbt"></td>
                <td colspan=2 class=txt-l>
                    法定代表人（签章）：
                    <span class=mr60></span>年
                    <span class=mr20></span>月
                    <span class=mr20></span>日
                </td>
            </tr>
            <tr>
                <td colspan=3 class=txt-l>
                    纳税人公章：
                    <br>会计主管：
                    <br>
                    <br>填表日期：
                    <span class=mr60></span>年
                    <span class=mr20></span>月
                    <span class=mr20></span>日
                </td>
                <td colspan=2 class=txt-l>
                    代理申报中介机构公章：
                    <br>经办人：
                    <br>经办人执业证件号码：
                    <br>代理申报日期：
                    <span class=mr60></span>年
                    <span class=mr20></span>月
                    <span class=mr20></span>日
                </td>
                <td class=txt-l>
                    主管税务机关受理专用章：
                    <br>受理人：
                    <br>
                    <br>受理日期：
                    <span class=mr60></span>年
                    <span class=mr20></span>月
                    <span class=mr20></span>日
                </td>
            </tr>
        </tfoot>
    </table>
</div>