
<div class=table_box>
    <table id=table_002 class=sb_table type=sb sb_url=config sb_id=002 sb_title=居民企业参股外国企业信息报告表>
        <colgroup><col width=170><col width=170><col width=170><col width=170><col width=145><col width=160><col width=20><col width=1></colgroup>
        <thead>
            <tr>
                <td colspan=8 height=60 class=table-title>居民企业参股外国企业信息报告表</td>
            </tr>
            <tr class=hidden></tr>
        </thead>
        <tbody>
            <tr>
                <td class=txt-l>纳税人名称：</td>
                <td colspan=4 class=txt-l><span class=nsrmc></span></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-l>纳税识别号：</td>
                <td colspan=2 class=txt-l><span class=nsrsbh></span></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=txt-l>税款所属时间：</td>
                <td colspan=4 class=txt-l>
                    <span class=sssqq></span>至
                    <span class=sssqz></span>
                </td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-l>填表日期：</td>
                <td colspan=2 class=txt-l><span class=tbrq></span></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td colspan=8 class=txt-l>一、报告人信息</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=txt-l>企业名称：</td>
                <td colspan=4 class=txt-l><span class=nsrmc></span></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-l>纳税识别号：</td>
                <td colspan=2 class=txt-l><span class=nsrsbh></span></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td colspan=8 class=txt-l>二、被投资外国企业信息</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=txt-l>外国企业名称（中文）<span class=txt-red>*</span></td>
                <td colspan=4 class="txt-l enable"><input type=text servyou_type=string requiredsametime=Y></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-l>成立地（中文）<span class=txt-red>*</span></td>
                <td colspan=2 class="txt-l enable"><input type=text servyou_type=string requiredsametime=Y></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=txt-l>外国企业名称（外文）</td>
                <td colspan=4 class="txt-l enable"><input type=text servyou_type=string></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=txt-l>成立地（外文）</td>
                <td colspan=2 class="txt-l enable"><input type=text servyou_type=string></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=txt-l>所在国纳税识别号<span class=txt-red>*</span></td>
                <td colspan=2 class="txt-l enable"><input type=text servyou_type=string requiredsametime=Y></td>
                <td class=hidden></td>
                <td class=txt-l>主营业务类型<span class=txt-red>*</span></td>
                <td class="txt-l enable"><input type=text servyou_type=string requiredsametime=Y></td>
                <td class=txt-l>报告人持股比例<span class=txt-red>*</span></td>
                <td colspan=2 class="txt-l enable"><input type=text servyou_type=string requiredsametime=Y tp=percent></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=txt-l colspan=8>被投资外国企业信息--持有外国企业10%以上股份或有表决权股份的其他股东情况</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td>持股股东名称（中文）</td>
                <td>持股股东名称（外文）</td>
                <td>居住地或成立地（中文）</td>
                <td>居住地或成立地（外文）</td>
                <td>持股类型</td>
                <td>持股比例</td>
                <td colspan=2>达到10%以上权益份额的起始日期</td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class=enable><input class=mini-combobox id=gdqk_cglx_1 valuefield= id textfield=text url=../../data/qysds/data_cglx.json autoload=true style="width :96%"></td>
                <td class="txt-r enable"><input type=text servyou_type=percent value=0.00% maxvalue=100%></td>
                <td class=enable colspan=2><input format=yyyy-MM-dd id=qsrq_1 class=mini-datepicker width=92%></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class=enable><input class=mini-combobox id=gdqk_cglx_2 valuefield= id textfield=text url=../../data/qysds/data_cglx.json autoload=true style="width :96%"></td>
                <td class="txt-r enable"><input type=text servyou_type=percent value=0.00% maxvalue=100%></td>
                <td class=enable colspan=2><input format=yyyy-MM-dd id=qsrq_2 class=mini-datepicker width=92%></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class=enable><input class=mini-combobox id=gdqk_cglx_3 valuefield= id textfield=text url=../../data/qysds/data_cglx.json autoload=true style="width :96%"></td>
                <td class="txt-r enable"><input type=text servyou_type=percent value=0.00% maxvalue=100%></td>
                <td class=enable colspan=2><input format=yyyy-MM-dd id=qsrq_3 class=mini-datepicker width=92%></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class=enable><input class=mini-combobox id=gdqk_cglx_4 valuefield= id textfield=text url=../../data/qysds/data_cglx.json autoload=true style="width :96%"></td>
                <td class="txt-r enable"><input type=text servyou_type=percent value=0.00% maxvalue=100%></td>
                <td class=enable colspan=2><input format=yyyy-MM-dd id=qsrq_4 class=mini-datepicker width=92%></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=txt-l colspan=8>被投资外国企业信息--中国居民个人担任外国企业高管或董事情况</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td>中国居民个人姓名</td>
                <td>中国境内常住地</td>
                <td>身份证件类型</td>
                <td>身份证件号码</td>
                <td>职务</td>
                <td>任职日期起</td>
                <td colspan=2>任职日期止</td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class=enable><input class=mini-combobox id=sfzjlx_1 url=/sbzx-web/api/baseCode/get/baseCode2CombSelect2/DM_GY_SFZJLX.json valuefield=ID textfield=MC></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class=enable><input format=yyyy-MM-dd id=rzrqq_1 class=mini-datepicker width=92% ondrawdate=report.ondrawDate></td>
                <td class=enable colspan=2><input format=yyyy-MM-dd id=rzrqz_1 class=mini-datepicker width=92% ondrawdate=report.ondrawDate></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class=enable><input class=mini-combobox id=sfzjlx_2 url=/sbzx-web/api/baseCode/get/baseCode2CombSelect2/DM_GY_SFZJLX.json valuefield=ID textfield=MC></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class=enable><input format=yyyy-MM-dd id=rzrqq_2 class=mini-datepicker width=92% ondrawdate=report.ondrawDate></td>
                <td class=enable colspan=2><input format=yyyy-MM-dd id=rzrqz_2 class=mini-datepicker width=92% ondrawdate=report.ondrawDate></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class=enable><input class=mini-combobox id=sfzjlx_3 url=/sbzx-web/api/baseCode/get/baseCode2CombSelect2/DM_GY_SFZJLX.json valuefield=ID textfield=MC></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class=enable><input format=yyyy-MM-dd id=rzrqq_3 class=mini-datepicker width=92% ondrawdate=report.ondrawDate></td>
                <td class=enable colspan=2><input format=yyyy-MM-dd id=rzrqz_3 class=mini-datepicker width=92% ondrawdate=report.ondrawDate></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=txt-l colspan=8>三、外国企业股份变动信息</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=txt-l colspan=8>外国企业股份变动信息--报告人收购外国企业股份情况</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td>被收购股份类型</td>
                <td colspan=3>交易日期</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>收购方式</td>
                <td>收购前报告人在外国企业持股份额</td>
                <td colspan=2>收购后报告人在外国企业持股份额</td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=enable><input class=mini-combobox id=sggfqk_cglx_1 valuefield= id textfield=text url=../../data/qysds/data_cglx.json style="width :96%"></td>
                <td colspan=3 class=enable><input format=yyyy-MM-dd id=jyrq_1 class=mini-datepicker width=96%></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-r enable"><input type=text servyou_type=percent maxvalue=100 value=0.00%></td>
                <td colspan=2 class="txt-r enable"><input type=text servyou_type=percent maxvalue=100 value=0.00%></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=enable><input class=mini-combobox id=sggfqk_cglx_2 valuefield= id textfield=text url=../../data/qysds/data_cglx.json style="width :96%"></td>
                <td colspan=3 class=enable><input format=yyyy-MM-dd id=jyrq_2 class=mini-datepicker width=96%></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-r enable"><input type=text servyou_type=percent maxvalue=100 value=0.00%></td>
                <td colspan=2 class="txt-r enable"><input type=text servyou_type=percent maxvalue=100 value=0.00%></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=enable><input class=mini-combobox id=sggfqk_cglx_3 valuefield= id textfield=text url=../../data/qysds/data_cglx.json style="width :96%"></td>
                <td colspan=3 class=enable><input format=yyyy-MM-dd id=jyrq_3 class=mini-datepicker width=96%></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-r enable"><input type=text servyou_type=percent maxvalue=100 value=0.00%></td>
                <td colspan=2 class="txt-r enable"><input type=text servyou_type=percent maxvalue=100 value=0.00%></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=txt-l colspan=8>外国企业股份变动信息--报告人处置外国企业股份情况</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td>被处置股份类型</td>
                <td colspan=3>处置日期</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>处置方式</td>
                <td>处置前报告人在外国企业持股份额</td>
                <td colspan=2>处置后报告人在外国企业持股份额</td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=enable><input class=mini-combobox id=czgfqk_cglx_1 valuefield= id textfield=text url=../../data/qysds/data_cglx.json style="width :96%"></td>
                <td colspan=3 class=enable><input format=yyyy-MM-dd id=czrq_1 class=mini-datepicker width=96%></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-r enable"><input type=text servyou_type=percent maxvalue=100 value=0.00%></td>
                <td colspan=2 class="txt-r enable"><input type=text servyou_type=percent maxvalue=100 value=0.00%></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=enable><input class=mini-combobox id=czgfqk_cglx_2 valuefield= id textfield=text url=../../data/qysds/data_cglx.json style="width :96%"></td>
                <td colspan=3 class=enable><input format=yyyy-MM-dd id=czrq_2 class=mini-datepicker width=96%></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-r enable"><input type=text servyou_type=percent maxvalue=100 value=0.00%></td>
                <td colspan=2 class="txt-r enable"><input type=text servyou_type=percent maxvalue=100 value=0.00%></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=enable><input class=mini-combobox id=czgfqk_cglx_3 valuefield= id textfield=text url=../../data/qysds/data_cglx.json style="width :96%"></td>
                <td colspan=3 class=enable><input format=yyyy-MM-dd id=czrq_3 class=mini-datepicker width=96%></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class="txt-l enable"><input type=text servyou_type=string></td>
                <td class="txt-r enable"><input type=text servyou_type=percent maxvalue=100 value=0.00%></td>
                <td colspan=2 class="txt-r enable"><input type=text servyou_type=percent maxvalue=100 value=0.00%></td>
                <td class=hidden></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan=8 class=txt-l>四、报告人声明</td>
            </tr>
            <tr>
                <td colspan=8 class=txt-l>我谨在此声明：以上呈报事项准确无误，如有不实，愿承担相应的法律责任。</td>
            </tr>
            <tr>
                <td class=txt-l>报告人签字和盖章：</td>
                <td colspan=3><span class=bgrqzqz></span></td>
                <td colspan=4 class=txt-l>
                    报告日期：
                    <span class=mr60></span>年
                    <span class=mr20></span>月
                    <span class=mr20></span>日
                </td>
            </tr>
            <tr>
                <td class=txt-l>经办人：</td>
                <td colspan=4 class="txt-l enable"><input type=text servyou_type=string></td>
                <td class=txt-l>联系电话</td>
                <td colspan=2 class="txt-l enable"><input type=text servyou_type=string></td>
            </tr>
            <tr>
                <td colspan=8 class=txt-l>以下由主管税务机关填写</td>
            </tr>
            <tr>
                <td class=txt-l>受理人：</td>
                <td colspan=5></td>
                <td colspan=2 class=txt-l>税务机关（盖章）</td>
            </tr>
            <tr>
                <td class=txt-l>联系电话：</td>
                <td colspan=5></td>
                <td colspan=2 class=txt-l>
                    <span class=mr60></span>年
                    <span class=mr20></span>月
                    <span class=mr20></span>日
                </td>
            </tr>
        </tfoot>
    </table>
</div>