<!DOCTYPE html><html lang=en><head><meta charset=UTF-8><meta http-equiv=X-UA-Compatible content="IE=Edge,chrome=1"><meta name=viewport content="width=device-width, initial-scale=1.0"><title>增值税一般纳税人填表说明</title><link rel=stylesheet href=../../../apps/scripts/reportSB3.0/style.css?v=1556520579780_2.0.0></head><body><div class="container container-tips"><div class=navigator id=navigator></div><div class=main><h2 class=title>《增值税纳税申报表（一般纳税人适用）》及其附列资料填写说明</h2><h3 class=subtitle>本纳税申报表及其附列资料填写说明（以下简称本表及填写说明）适用于增值税一般纳税人（以下简称纳税人）。</h3><section><p class=section-title>一、名词解释</p><pre class=section-content>
（一）本表及填写说明所称“货物”，是指增值税的应税货物。
（二）本表及填写说明所称“劳务”，是指增值税的应税加工、修理、修配劳务。
（三）本表及填写说明所称“服务、不动产和无形资产”，是指销售服务、不动产和无形资产。
（四）本表及填写说明所称“按适用税率计税”、“按适用税率计算”和“一般计税方法”，均指按“应纳税额＝当期销项税额-当期进项税额”公式计算增值税应纳税额的计税方法。
（五）本表及填写说明所称“按简易办法计税”、“按简易征收办法计算”和“简易计税方法”，均指按“应纳税额＝销售额×征收率”公式计算增值税应纳税额的计税方法。
（六）本表及填写说明所称“扣除项目”，是指纳税人销售服务、不动产和无形资产，在确定销售额时，按照有关规定允许其从取得的全部价款和价外费用中扣除价款的项目。
                </pre></section><section><p class=section-title>二、增值税申报表：《增值税纳税申报表（一般纳税人适用）》</p><pre class=section-content>
填写说明

（一）“税款所属时间”：指纳税人申报的增值税应纳税额的所属时间，应填写具体的起止年、月、日。
（二）“填表日期”：指纳税人填写本表的具体日期。
（三）“纳税人识别号”：填写纳税人的税务登记证件号码。
（四）“所属行业”：按照国民经济行业分类与代码中的小类行业填写。
（五）“纳税人名称”：填写纳税人单位名称全称。
（六）“法定代表人姓名”：填写纳税人法定代表人的姓名。
（七）“注册地址”：填写纳税人税务登记证件所注明的详细地址。
（八）“生产经营地址”：填写纳税人实际生产经营地的详细地址。
（九）“开户银行及账号”：填写纳税人开户银行的名称和纳税人在该银行的结算账户号码。
（十）“登记注册类型”：按纳税人税务登记证件的栏目内容填写。
（十一）“电话号码”：填写可联系到纳税人的常用电话号码。
（十二）“即征即退项目”列：填写纳税人按规定享受增值税即征即退政策的货物、劳务和服务、不动产、无形资产的征（退）税数据。
（十三）“一般项目”列：填写除享受增值税即征即退政策以外的货物、劳务和服务、不动产、无形资产的征（免）税数据。
（十四）“本年累计”列：一般填写本年度内各月“本月数”之和。其中，第13、20、25、32、36、38栏及第18栏“实际抵扣税额”“一般项目”列的“本年累计”分别按本填写说明第（二十七）（三十四）（三十九）（四十六）（五十）（五十二）（三十二）条要求填写。
（十五）第1栏“（一）按适用税率计税销售额”：填写纳税人本期按一般计税方法计算缴纳增值税的销售额，包含：在财务上不作销售但按税法规定应缴纳增值税的视同销售和价外费用的销售额；外贸企业作价销售进料加工复出口货物的销售额；税务、财政、审计部门检查后按一般计税方法计算调整的销售额。
营业税改征增值税的纳税人，服务、不动产和无形资产有扣除项目的，本栏应填写扣除之前的不含税销售额。
本栏“一般项目”列“本月数”＝《附列资料（一）》第9列第1至5行之和-第9列第6、7行之和；本栏“即征即退项目”列“本月数”＝《附列资料（一）》第9列第6、7行之和。
（十六）第2栏“其中：应税货物销售额”：填写纳税人本期按适用税率计算增值税的应税货物的销售额。包含在财务上不作销售但按税法规定应缴纳增值税的视同销售货物和价外费用销售额，以及外贸企业作价销售进料加工复出口货物的销售额。
（十七）第3栏“应税劳务销售额”：填写纳税人本期按适用税率计算增值税的应税劳务的销售额。
（十八）第4栏“纳税检查调整的销售额”：填写纳税人因税务、财政、审计部门检查，并按一般计税方法在本期计算调整的销售额。但享受增值税即征即退政策的货物、劳务和服务、不动产、无形资产，经纳税检查属于偷税的，不填入“即征即退项目”列，而应填入“一般项目”列。
营业税改征增值税的纳税人，服务、不动产和无形资产有扣除项目的，本栏应填写扣除之前的不含税销售额。
本栏“一般项目”列“本月数”＝《附列资料（一）》第7列第1至5行之和。
（十九）第5栏“按简易办法计税销售额”：填写纳税人本期按简易计税方法计算增值税的销售额。包含纳税检查调整按简易计税方法计算增值税的销售额。
营业税改征增值税的纳税人，服务、不动产和无形资产有扣除项目的，本栏应填写扣除之前的不含税销售额；服务、不动产和无形资产按规定汇总计算缴纳增值税的分支机构，其当期按预征率计算缴纳增值税的销售额也填入本栏。
本栏“一般项目”列“本月数”≥《附列资料（一）》第9列第8至13b行之和-第9列第14、15行之和；本栏“即征即退项目”列“本月数”≥《附列资料（一）》第9列第14、15行之和。
（二十）第6栏“其中：纳税检查调整的销售额”：填写纳税人因税务、财政、审计部门检查，并按简易计税方法在本期计算调整的销售额。但享受增值税即征即退政策的货物、劳务和服务、不动产、无形资产，经纳税检查属于偷税的，不填入“即征即退项目”列，而应填入“一般项目”列。
营业税改征增值税的纳税人，服务、不动产和无形资产有扣除项目的，本栏应填写扣除之前的不含税销售额。
（二十一）第7栏“免、抵、退办法出口销售额”：填写纳税人本期适用免、抵、退税办法的出口货物、劳务和服务、无形资产的销售额。
营业税改征增值税的纳税人，服务、无形资产有扣除项目的，本栏应填写扣除之前的销售额。
本栏“一般项目”列“本月数”＝《附列资料（一）》第9列第16、17行之和。
（二十二）第8栏“免税销售额”：填写纳税人本期按照税法规定免征增值税的销售额和适用零税率的销售额，但零税率的销售额中不包括适用免、抵、退税办法的销售额。
营业税改征增值税的纳税人，服务、不动产和无形资产有扣除项目的，本栏应填写扣除之前的免税销售额。
本栏“一般项目”列“本月数”＝《附列资料（一）》第9列第18、19行之和。
（二十三）第9栏“其中：免税货物销售额”：填写纳税人本期按照税法规定免征增值税的货物销售额及适用零税率的货物销售额，但零税率的销售额中不包括适用免、抵、退税办法出口货物的销售额。
（二十四）第10栏“免税劳务销售额”：填写纳税人本期按照税法规定免征增值税的劳务销售额及适用零税率的劳务销售额，但零税率的销售额中不包括适用免、抵、退税办法的劳务的销售额。
（二十五）第11栏“销项税额”：填写纳税人本期按一般计税方法计税的货物、劳务和服务、不动产、无形资产的销项税额。
营业税改征增值税的纳税人，服务、不动产和无形资产有扣除项目的，本栏应填写扣除之后的销项税额。
本栏“一般项目”列“本月数”＝《附列资料（一）》（第10列第1、3行之和-第10列第6行）+（第14列第2、4、5行之和-第14列第7行）；
本栏“即征即退项目”列“本月数”＝《附列资料（一）》第10列第6行+第14列第7行。
（二十六）第12栏“进项税额”：填写纳税人本期申报抵扣的进项税额。
本栏“一般项目”列“本月数”+“即征即退项目”列“本月数”＝《附列资料（二）》第12栏“税额”。
（二十七）第13栏“上期留抵税额”
1.上期留抵税额按规定须挂账的纳税人，按以下要求填写本栏的“本月数”和“本年累计”。
上期留抵税额按规定须挂账的纳税人是指试点实施之日前一个税款所属期的申报表第20栏“期末留抵税额”“一般货物、劳务和应税服务”列“本月数”大于零，且兼有营业税改征增值税服务、不动产和无形资产的纳税人（下同）。其试点实施之日前一个税款所属期的申报表第20栏“期末留抵税额”“一般货物、劳务和应税服务”列“本月数”，以下称为货物和劳务挂账留抵税额。
（1）本栏“一般项目”列“本月数”：试点实施之日的税款所属期填写“0”；以后各期按上期申报表第20栏“期末留抵税额”“一般项目”列“本月数”填写。
（2）本栏“一般项目”列“本年累计”：反映货物和劳务挂账留抵税额本期期初余额。试点实施之日的税款所属期按试点实施之日前一个税款所属期的申报表第20栏“期末留抵税额”“一般货物、劳务和应税服务”列“本月数”填写；以后各期按上期申报表第20栏“期末留抵税额”“一般项目”列“本年累计”填写。
（3）本栏“即征即退项目”列“本月数”：按上期申报表第20栏“期末留抵税额”“即征即退项目”列“本月数”填写。
2.其他纳税人，按以下要求填写本栏“本月数”和“本年累计”。
其他纳税人是指除上期留抵税额按规定须挂账的纳税人之外的纳税人（下同）。
（1）本栏“一般项目”列“本月数”：按上期申报表第20栏“期末留抵税额”“一般项目”列“本月数”填写。
（2）本栏“一般项目”列“本年累计”：填写“0”。
（3）本栏“即征即退项目”列“本月数”：按上期申报表第20栏“期末留抵税额”“即征即退项目”列“本月数”填写。
（二十八）第14栏“进项税额转出”：填写纳税人已经抵扣，但按税法规定本期应转出的进项税额。
本栏“一般项目”列“本月数”+“即征即退项目”列“本月数”＝《附列资料（二）》第13栏“税额”。
（二十九）第15栏“免、抵、退应退税额”：反映税务机关退税部门按照出口货物、劳务和服务、无形资产免、抵、退办法审批的增值税应退税额。
（三十）第16栏“按适用税率计算的纳税检查应补缴税额”：填写税务、财政、审计部门检查，按一般计税方法计算的纳税检查应补缴的增值税税额。
本栏“一般项目”列“本月数”≤《附列资料（一）》第8列第1至5行之和+《附列资料（二）》第19栏。
（三十一）第17栏“应抵扣税额合计”：填写纳税人本期应抵扣进项税额的合计数。按表中所列公式计算填写。
（三十二）第18栏“实际抵扣税额”
1.上期留抵税额按规定须挂账的纳税人，按以下要求填写本栏的“本月数”和“本年累计”。
（1）本栏“一般项目”列“本月数”：按表中所列公式计算填写。
（2）本栏“一般项目”列“本年累计”：填写货物和劳务挂账留抵税额本期实际抵减一般货物和劳务应纳税额的数额。将“货物和劳务挂账留抵税额本期期初余额”与“一般计税方法的一般货物及劳务应纳税额”两个数据相比较，取二者中小的数据。
其中：货物和劳务挂账留抵税额本期期初余额＝第13栏“上期留抵税额”“一般项目”列“本年累计”；
一般计税方法的一般货物及劳务应纳税额＝（第11栏“销项税额”“一般项目”列“本月数”-第18栏“实际抵扣税额”“一般项目”列“本月数”）×一般货物及劳务销项税额比例；
一般货物及劳务销项税额比例＝（《附列资料（一）》第10列第1、3行之和-第10列第6行）÷第11栏“销项税额”“一般项目”列“本月数”×100％。
（3）本栏“即征即退项目”列“本月数”：按表中所列公式计算填写。
2.其他纳税人，按以下要求填写本栏的“本月数”和“本年累计”：
（1）本栏“一般项目”列“本月数”：按表中所列公式计算填写。
（2）本栏“一般项目”列“本年累计”：填写“0”。
（3）本栏“即征即退项目”列“本月数”：按表中所列公式计算填写。
（三十三）第19栏“应纳税额”：反映纳税人本期按一般计税方法计算并应缴纳的增值税额。按以下公式计算填写：
1.本栏“一般项目”列“本月数”＝第11栏“销项税额”“一般项目”列“本月数”-第18栏“实际抵扣税额”“一般项目”列“本月数”-第18栏“实际抵扣税额”“一般项目”列“本年累计”。
2.本栏“即征即退项目”列“本月数”＝第11栏“销项税额”“即征即退项目”列“本月数”-第18栏“实际抵扣税额”“即征即退项目”列“本月数”。
（三十四）第20栏“期末留抵税额”
1.上期留抵税额按规定须挂账的纳税人，按以下要求填写本栏的“本月数”和“本年累计”：
（1）本栏“一般项目”列“本月数”：反映试点实施以后，货物、劳务和服务、不动产、无形资产共同形成的留抵税额。按表中所列公式计算填写。
（2）本栏“一般项目”列“本年累计”：反映货物和劳务挂账留抵税额，在试点实施以后抵减一般货物和劳务应纳税额后的余额。按以下公式计算填写：
本栏“一般项目”列“本年累计”＝第13栏“上期留抵税额”“一般项目”列“本年累计”-第18栏“实际抵扣税额”“一般项目”列“本年累计”。
（3）本栏“即征即退项目”列“本月数”：按表中所列公式计算填写。
2.其他纳税人，按以下要求填写本栏“本月数”和“本年累计”：
（1）本栏“一般项目”列“本月数”：按表中所列公式计算填写。
（2）本栏“一般项目”列“本年累计”：填写“0”。
（3）本栏“即征即退项目”列“本月数”：按表中所列公式计算填写。
（三十五）第21栏“简易计税办法计算的应纳税额”：反映纳税人本期按简易计税方法计算并应缴纳的增值税额，但不包括按简易计税方法计算的纳税检查应补缴税额。按以下公式计算填写：
本栏“一般项目”列“本月数”＝《附列资料（一）》（第10列第8、9、10、11行之和-第10列第14行）+（第14列第9b、12、13a、13b行之和-第14列第15行）
本栏“即征即退项目”列“本月数”＝《附列资料（一）》第10列第14行+第14列第15行。
营业税改征增值税的纳税人，服务、不动产和无形资产按规定汇总计算缴纳增值税的分支机构，应将预征增值税额填入本栏。预征增值税额=应预征增值税的销售额×预征率。
（三十六）第22栏“按简易计税办法计算的纳税检查应补缴税额”：填写纳税人本期因税务、财政、审计部门检查并按简易计税方法计算的纳税检查应补缴税额。
（三十七）第23栏“应纳税额减征额”：填写纳税人本期按照税法规定减征的增值税应纳税额。包含按照规定可在增值税应纳税额中全额抵减的增值税税控系统专用设备费用以及技术维护费。
当本期减征额小于或等于第19栏“应纳税额”与第21栏“简易计税办法计算的应纳税额”之和时，按本期减征额实际填写；当本期减征额大于第19栏“应纳税额”与第21栏“简易计税办法计算的应纳税额”之和时，按本期第19栏与第21栏之和填写。本期减征额不足抵减部分结转下期继续抵减。
（三十八）第24栏“应纳税额合计”：反映纳税人本期应缴增值税的合计数。按表中所列公式计算填写。
（三十九）第25栏“期初未缴税额（多缴为负数）”：“本月数”按上一税款所属期申报表第32栏“期末未缴税额（多缴为负数）”“本月数”填写。“本年累计”按上年度最后一个税款所属期申报表第32栏“期末未缴税额（多缴为负数）”“本年累计”填写。
（四十）第26栏“实收出口开具专用缴款书退税额”：本栏不填写。
（四十一）第27栏“本期已缴税额”：反映纳税人本期实际缴纳的增值税额，但不包括本期入库的查补税款。按表中所列公式计算填写。
（四十二）第28栏“①分次预缴税额”：填写纳税人本期已缴纳的准予在本期增值税应纳税额中抵减的税额。
营业税改征增值税的纳税人，分以下几种情况填写：
1.服务、不动产和无形资产按规定汇总计算缴纳增值税的总机构，其可以从本期增值税应纳税额中抵减的分支机构已缴纳的税款，按当期实际可抵减数填入本栏，不足抵减部分结转下期继续抵减。
2.销售建筑服务并按规定预缴增值税的纳税人，其可以从本期增值税应纳税额中抵减的已缴纳的税款，按当期实际可抵减数填入本栏，不足抵减部分结转下期继续抵减。
3.销售不动产并按规定预缴增值税的纳税人，其可以从本期增值税应纳税额中抵减的已缴纳的税款，按当期实际可抵减数填入本栏，不足抵减部分结转下期继续抵减。
4.出租不动产并按规定预缴增值税的纳税人，其可以从本期增值税应纳税额中抵减的已缴纳的税款，按当期实际可抵减数填入本栏，不足抵减部分结转下期继续抵减。
（四十三）第29栏“②出口开具专用缴款书预缴税额”：本栏不填写。
（四十四）第30栏“③本期缴纳上期应纳税额”：填写纳税人本期缴纳上一税款所属期应缴未缴的增值税额。
（四十五）第31栏“④本期缴纳欠缴税额”：反映纳税人本期实际缴纳和留抵税额抵减的增值税欠税额，但不包括缴纳入库的查补增值税额。
（四十六）第32栏“期末未缴税额（多缴为负数）”：“本月数”反映纳税人本期期末应缴未缴的增值税额，但不包括纳税检查应缴未缴的税额。按表中所列公式计算填写。“本年累计”与“本月数”相同。
（四十七）第33栏“其中：欠缴税额（≥0）”：反映纳税人按照税法规定已形成欠税的增值税额。按表中所列公式计算填写。
（四十八）第34栏“本期应补（退）税额”：反映纳税人本期应纳税额中应补缴或应退回的数额。按表中所列公式计算填写。
（四十九）第35栏“即征即退实际退税额”：反映纳税人本期因符合增值税即征即退政策规定，而实际收到的税务机关退回的增值税额。
（五十）第36栏“期初未缴查补税额”：“本月数”按上一税款所属期申报表第38栏“期末未缴查补税额”“本月数”填写。“本年累计”按上年度最后一个税款所属期申报表第38栏“期末未缴查补税额”“本年累计”填写。
（五十一）第37栏“本期入库查补税额”：反映纳税人本期因税务、财政、审计部门检查而实际入库的增值税额，包括按一般计税方法计算并实际缴纳的查补增值税额和按简易计税方法计算并实际缴纳的查补增值税额。
（五十二）第38栏“期末未缴查补税额”：“本月数”反映纳税人接受纳税检查后应在本期期末缴纳而未缴纳的查补增值税额。按表中所列公式计算填写，“本年累计”与“本月数”相同。
                </pre></section><section><p class=section-title>三、附表一：《增值税纳税申报表附列资料（一）》（本期销售情况明细）</p><pre class=section-content>

填写说明

（一）“税款所属时间”“纳税人名称”的填写同主表。
（二）各列说明
1.第1至2列“开具增值税专用发票”：反映本期开具增值税专用发票（含税控机动车销售统一发票，下同）的情况。
2.第3至4列“开具其他发票”：反映除增值税专用发票以外本期开具的其他发票的情况。
3.第5至6列“未开具发票”：反映本期未开具发票的销售情况。
4.第7至8列“纳税检查调整”：反映经税务、财政、审计部门检查并在本期调整的销售情况。
5.第9至11列“合计”：按照表中所列公式填写。
营业税改征增值税的纳税人，服务、不动产和无形资产有扣除项目的，第1至11列应填写扣除之前的征（免）税销售额、销项（应纳）税额和价税合计额。
6.第12列“服务、不动产和无形资产扣除项目本期实际扣除金额”：营业税改征增值税的纳税人，服务、不动产和无形资产有扣除项目的，按《附列资料（三）》第5列对应各行次数据填写，其中本列第5栏等于《附列资料（三）》第5列第3行与第4行之和；服务、不动产和无形资产无扣除项目的，本列填写“0”。其他纳税人不填写。
营业税改征增值税的纳税人，服务、不动产和无形资产按规定汇总计算缴纳增值税的分支机构，当期服务、不动产和无形资产有扣除项目的，填入本列第13行。
7.第13列“扣除后”“含税(免税)销售额”：营业税改征增值税的纳税人，服务、不动产和无形资产有扣除项目的，本列各行次＝第11列对应各行次-第12列对应各行次。其他纳税人不填写。
8.第14列“扣除后”“销项(应纳)税额”：营业税改征增值税的纳税人，服务、不动产和无形资产有扣除项目的，按以下要求填写本列，其他纳税人不填写。
（1）服务、不动产和无形资产按照一般计税方法计税
本列各行次＝第13列÷(100%+对应行次税率)×对应行次税率
本列第7行“按一般计税方法计税的即征即退服务、不动产和无形资产”不按本列的说明填写。具体填写要求见“各行说明”第2条第（2）项第③点的说明。
（2）服务、不动产和无形资产按照简易计税方法计税
本列各行次＝第13列÷(100%+对应行次征收率)×对应行次征收率
本列第13行“预征率 %”不按本列的说明填写。具体填写要求见“各行说明”第4条第（2）项。
（3）服务、不动产和无形资产实行免抵退税或免税的，本列不填写。
（三）各行说明
1.第1至5行“一、一般计税方法计税”“全部征税项目”各行：按不同税率和项目分别填写按一般计税方法计算增值税的全部征税项目。有即征即退征税项目的纳税人，本部分数据中既包括即征即退征税项目，又包括不享受即征即退政策的一般征税项目。
2.第6至7行“一、一般计税方法计税”“其中：即征即退项目”各行：只反映按一般计税方法计算增值税的即征即退项目。按照税法规定不享受即征即退政策的纳税人，不填写本行。即征即退项目是全部征税项目的其中数。
（1）第6行“即征即退货物及加工修理修配劳务”：反映按一般计税方法计算增值税且享受即征即退政策的货物和加工修理修配劳务。本行不包括服务、不动产和无形资产的内容。
①本行第9列“合计”“销售额”栏：反映按一般计税方法计算增值税且享受即征即退政策的货物及加工修理修配劳务的不含税销售额。该栏不按第9列所列公式计算，应按照税法规定据实填写。
②本行第10列“合计”“销项(应纳)税额”栏：反映按一般计税方法计算增值税且享受即征即退政策的货物及加工修理修配劳务的销项税额。该栏不按第10列所列公式计算，应按照税法规定据实填写。
（2）第7行“即征即退服务、不动产和无形资产”：反映按一般计税方法计算增值税且享受即征即退政策的服务、不动产和无形资产。本行不包括货物及加工修理修配劳务的内容。
①本行第9列“合计”“销售额”栏：反映按一般计税方法计算增值税且享受即征即退政策的服务、不动产和无形资产的不含税销售额。服务、不动产和无形资产有扣除项目的，按扣除之前的不含税销售额填写。该栏不按第9列所列公式计算，应按照税法规定据实填写。
②本行第10列“合计”“销项(应纳)税额”栏：反映按一般计税方法计算增值税且享受即征即退政策的服务、不动产和无形资产的销项税额。服务、不动产和无形资产有扣除项目的，按扣除之前的销项税额填写。该栏不按第10列所列公式计算，应按照税法规定据实填写。
③本行第14列“扣除后”“销项(应纳)税额”栏：反映按一般计税方法征收增值税且享受即征即退政策的服务、不动产和无形资产实际应计提的销项税额。服务、不动产和无形资产有扣除项目的，按扣除之后的销项税额填写；服务、不动产和无形资产无扣除项目的，按本行第10列填写。该栏不按第14列所列公式计算，应按照税法规定据实填写。
3.第8至12行“二、简易计税方法计税”“全部征税项目”各行：按不同征收率和项目分别填写按简易计税方法计算增值税的全部征税项目。有即征即退征税项目的纳税人，本部分数据中既包括即征即退项目，也包括不享受即征即退政策的一般征税项目。
4.第13a至13c行“二、简易计税方法计税”“预征率 %”：反映营业税改征增值税的纳税人，服务、不动产和无形资产按规定汇总计算缴纳增值税的分支机构，预征增值税销售额、预征增值税应纳税额。其中，第13a行“预征率 %”适用于所有实行汇总计算缴纳增值税的分支机构试点纳税人；第13b、13c行“预征率 %”适用于部分实行汇总计算缴纳增值税的铁路运输试点纳税人。
（1）第13a至13c行第1至6列按照销售额和销项税额的实际发生数填写。
（2）第13a至13c行第14列，纳税人按“应预征缴纳的增值税=应预征增值税销售额×预征率”公式计算后据实填写。
5.第14至15行“二、简易计税方法计税”“其中：即征即退项目”各行：只反映按简易计税方法计算增值税的即征即退项目。按照税法规定不享受即征即退政策的纳税人，不填写本行。即征即退项目是全部征税项目的其中数。
（1）第14行“即征即退货物及加工修理修配劳务”：反映按简易计税方法计算增值税且享受即征即退政策的货物及加工修理修配劳务。本行不包括服务、不动产和无形资产的内容。
①本行第9列“合计”“销售额”栏：反映按简易计税方法计算增值税且享受即征即退政策的货物及加工修理修配劳务的不含税销售额。该栏不按第9列所列公式计算，应按照税法规定据实填写。
②本行第10列“合计”“销项(应纳)税额”栏：反映按简易计税方法计算增值税且享受即征即退政策的货物及加工修理修配劳务的应纳税额。该栏不按第10列所列公式计算，应按照税法规定据实填写。
（2）第15行“即征即退服务、不动产和无形资产”：反映按简易计税方法计算增值税且享受即征即退政策的服务、不动产和无形资产。本行不包括货物及加工修理修配劳务的内容。
①本行第9列“合计”“销售额”栏：反映按简易计税方法计算增值税且享受即征即退政策的服务、不动产和无形资产的不含税销售额。服务、不动产和无形资产有扣除项目的，按扣除之前的不含税销售额填写。该栏不按第9列所列公式计算，应按照税法规定据实填写。
②本行第10列“合计”“销项(应纳)税额”栏：反映按简易计税方法计算增值税且享受即征即退政策的服务、不动产和无形资产的应纳税额。服务、不动产和无形资产有扣除项目的，按扣除之前的应纳税额填写。该栏不按第10列所列公式计算，应按照税法规定据实填写。
③本行第14列“扣除后”“销项(应纳)税额”栏：反映按简易计税方法计算增值税且享受即征即退政策的服务、不动产和无形资产实际应计提的应纳税额。服务、不动产和无形资产有扣除项目的，按扣除之后的应纳税额填写；服务、不动产和无形资产无扣除项目的，按本行第10列填写。
6.第16行“三、免抵退税”“货物及加工修理修配劳务”：反映适用免、抵、退税政策的出口货物、加工修理修配劳务。
7.第17行“三、免抵退税”“服务、不动产和无形资产”：反映适用免、抵、退税政策的服务、不动产和无形资产。
8.第18行“四、免税”“货物及加工修理修配劳务”：反映按照税法规定免征增值税的货物及劳务和适用零税率的出口货物及劳务，但零税率的销售额中不包括适用免、抵、退税办法的出口货物及劳务。
9.第19行“四、免税”“服务、不动产和无形资产”：反映按照税法规定免征增值税的服务、不动产、无形资产和适用零税率的服务、不动产、无形资产，但零税率的销售额中不包括适用免、抵、退税办法的服务、不动产和无形资产。
                    </pre></section><section><p class=section-title>四、附表二：《增值税纳税申报表附列资料（二）》（本期进项税额明细）</p><pre class=section-content>

填写说明

（一）“税款所属时间”“纳税人名称”的填写同主表。
（二）第1至12栏“一、申报抵扣的进项税额”：分别反映纳税人按税法规定符合抵扣条件，在本期申报抵扣的进项税额。
1.第1栏“（一）认证相符的增值税专用发票”：反映纳税人取得的认证相符本期申报抵扣的增值税专用发票情况。该栏应等于第2栏“本期认证相符且本期申报抵扣”与第3栏“前期认证相符且本期申报抵扣”数据之和。
2.第2栏“其中：本期认证相符且本期申报抵扣”：反映本期认证相符且本期申报抵扣的增值税专用发票的情况。本栏是第1栏的其中数，本栏只填写本期认证相符且本期申报抵扣的部分。
适用取消增值税发票认证规定的纳税人，当期申报抵扣的增值税发票数据，也填报在本栏中。
3.第3栏“前期认证相符且本期申报抵扣”：反映前期认证相符且本期申报抵扣的增值税专用发票的情况。
辅导期纳税人依据税务机关告知的稽核比对结果通知书及明细清单注明的稽核相符的增值税专用发票填写本栏。本栏是第1栏的其中数，只填写前期认证相符且本期申报抵扣的部分。
4.第4栏“（二）其他扣税凭证”：反映本期申报抵扣的除增值税专用发票之外的其他扣税凭证的情况。具体包括：海关进口增值税专用缴款书、农产品收购发票或者销售发票（含农产品核定扣除的进项税额）、代扣代缴税收完税凭证和其他符合政策规定的抵扣凭证。该栏应等于第5至8栏之和。
5.第5栏“海关进口增值税专用缴款书”：反映本期申报抵扣的海关进口增值税专用缴款书的情况。按规定执行海关进口增值税专用缴款书先比对后抵扣的，纳税人需依据税务机关告知的稽核比对结果通知书及明细清单注明的稽核相符的海关进口增值税专用缴款书填写本栏。
6.第6栏“农产品收购发票或者销售发票”：反映本期申报抵扣的农产品收购发票和农产品销售普通发票的情况。执行农产品增值税进项税额核定扣除办法的，填写当期允许抵扣的农产品增值税进项税额，不填写“份数”“金额”。
7.第7栏“代扣代缴税收缴款凭证”：填写本期按规定准予抵扣的完税凭证上注明的增值税额。
8.第8栏“其他”：反映按规定本期可以申报抵扣的其他扣税凭证情况。
纳税人按照规定不得抵扣且未抵扣进项税额的固定资产、无形资产、不动产，发生用途改变，用于允许抵扣进项税额的应税项目，可在用途改变的次月将按公式计算出的可以抵扣的进项税额，填入“税额”栏。
9.第9栏“(三）本期用于购建不动产的扣税凭证”：反映按规定本期用于购建不动产并适用分2年抵扣规定的扣税凭证上注明的金额和税额。购建不动产是指纳税人2016年5月1日后取得并在会计制度上按固定资产核算的不动产或者2016年5月1日后取得的不动产在建工程。
取得不动产，包括以直接购买、接受捐赠、接受投资入股、自建以及抵债等各种形式取得不动产，不包括房地产开发企业自行开发的房地产项目。
本栏次包括第1栏中本期用于购建不动产的增值税专用发票和第4栏中本期用于购建不动产的其他扣税凭证。
本栏“金额”“税额”&lt;第1栏+第4栏且本栏“金额”“税额”≥0。
纳税人按照规定不得抵扣且未抵扣进项税额的不动产，发生用途改变，用于允许抵扣进项税额的应税项目，可在用途改变的次月将按公式计算出的可以抵扣的进项税额，填入“税额”栏。
本栏“税额”列=《附列资料（五）》第2列“本期不动产进项税额增加额”。
10.第10栏“（四）本期不动产允许抵扣进项税额”：反映按规定本期实际申报抵扣的不动产进项税额。本栏“税额”
列＝《附列资料（五）》第3列“本期可抵扣不动产进项税额”
11.第11栏“（五）外贸企业进项税额抵扣证明”：填写本期申报抵扣的税务机关出口退税部门开具的《出口货物转内销证明》列明允许抵扣的进项税额。
12.第12栏“当期申报抵扣进项税额合计”：反映本期申报抵扣进项税额的合计数。按表中所列公式计算填写。
（三）第13至23栏“二、进项税额转出额”各栏：分别反映纳税人已经抵扣但按规定应在本期转出的进项税额明细情况。
1.第13栏“本期进项税额转出额”：反映已经抵扣但按规定应在本期转出的进项税额合计数。按表中所列公式计算填写。
2.第14栏“免税项目用”：反映用于免征增值税项目，按规定应在本期转出的进项税额。
3.第15栏“集体福利、个人消费”：反映用于集体福利或者个人消费，按规定应在本期转出的进项税额。
4.第16栏“非正常损失”：反映纳税人发生非正常损失，按规定应在本期转出的进项税额。
5.第17栏“简易计税方法征税项目用”：反映用于按简易计税方法征税项目，按规定应在本期转出的进项税额。
营业税改征增值税的纳税人，服务、不动产和无形资产按规定汇总计算缴纳增值税的分支机构，当期应由总机构汇总的进项税额也填入本栏。
6.第18栏“免抵退税办法不得抵扣的进项税额”：反映按照免、抵、退税办法的规定，由于征税税率与退税税率存在税率差，在本期应转出的进项税额。
7.第19栏“纳税检查调减进项税额”：反映税务、财政、审计部门检查后而调减的进项税额。
8.第20栏“红字专用发票信息表注明的进项税额”：填写主管税务机关开具的《开具红字增值税专用发票信息表》注明的在本期应转出的进项税额。
9.第21栏“上期留抵税额抵减欠税”：填写本期经税务机关同意，使用上期留抵税额抵减欠税的数额。
10.第22栏“上期留抵税额退税”：填写本期经税务机关批准的上期留抵税额退税额。
11.第23栏“其他应作进项税额转出的情形”：反映除上述进项税额转出情形外，其他应在本期转出的进项税额。
（四）第24至34栏“三、待抵扣进项税额”各栏：分别反映纳税人已经取得，但按税法规定不符合抵扣条件，暂不予在本期申报抵扣的进项税额情况及按税法规定不允许抵扣的进项税额情况。
1.第24至28栏均为增值税专用发票的情况。
2.第25栏“期初已认证相符但未申报抵扣”：反映前期认证相符，但按照税法规定暂不予抵扣及不允许抵扣，结存至本期的增值税专用发票情况。辅导期纳税人填写认证相符但未收到稽核比对结果的增值税专用发票期初情况。
3.第26栏“本期认证相符且本期未申报抵扣”：反映本期认证相符，但按税法规定暂不予抵扣及不允许抵扣，而未申报抵扣的增值税专用发票情况。辅导期纳税人填写本期认证相符但未收到稽核比对结果的增值税专用发票情况。
4.第27栏“期末已认证相符但未申报抵扣”：反映截至本期期末，按照税法规定仍暂不予抵扣及不允许抵扣且已认证相符的增值税专用发票情况。辅导期纳税人填写截至本期期末已认证相符但未收到稽核比对结果的增值税专用发票期末情况。
5.第28栏“其中：按照税法规定不允许抵扣”：反映截至本期期末已认证相符但未申报抵扣的增值税专用发票中，按照税法规定不允许抵扣的增值税专用发票情况。
6.第29栏“（二）其他扣税凭证”：反映截至本期期末仍未申报抵扣的除增值税专用发票之外的其他扣税凭证情况。具体包括：海关进口增值税专用缴款书、农产品收购发票或者销售发票、代扣代缴税收完税凭证和其他符合政策规定的抵扣凭证。该栏应等于第30至33栏之和。
7.第30栏“海关进口增值税专用缴款书”：反映已取得但截至本期期末仍未申报抵扣的海关进口增值税专用缴款书情况，包括纳税人未收到稽核比对结果的海关进口增值税专用缴款书情况。
8.第31栏“农产品收购发票或者销售发票”：反映已取得但截至本期期末仍未申报抵扣的农产品收购发票和农产品销售普通发票情况。
9.第32栏“代扣代缴税收缴款凭证”：反映已取得但截至本期期末仍未申报抵扣的代扣代缴税收完税凭证情况。
10.第33栏“其他”：反映已取得但截至本期期末仍未申报抵扣的其他扣税凭证的情况。
（五）第35至36栏“四、其他”各栏。
1.第35栏“本期认证相符的增值税专用发票”：反映本期认证相符的增值税专用发票的情况。
2.第36栏“代扣代缴税额”：填写纳税人根据《中华人民共和国增值税暂行条例》第十八条扣缴的应税劳务增值税额与根据营业税改征增值税有关政策规定扣缴的服务、不动产和无形资产增值税额之和。
                    </pre></section><section><p class=section-title>五、附表三：《增值税纳税申报表附列资料（三）》（服务、不动产和无形资产扣除项目明细）</p><pre class=section-content>

填写说明

（一）本表由服务、不动产和无形资产有扣除项目的营业税改征增值税纳税人填写。其他纳税人不填写。
（二）“税款所属时间”“纳税人名称”的填写同主表。
（三）第1列“本期服务、不动产和无形资产价税合计额（免税销售额）”：营业税改征增值税的服务、不动产和无形资产属于征税项目的，填写扣除之前的本期服务、不动产和无形资产价税合计额；营业税改征增值税的服务、不动产和无形资产属于免抵退税或免税项目的，填写扣除之前的本期服务、不动产和无形资产免税销售额。本列各行次等于《附列资料（一）》第11列对应行次，其中本列第3行和第4行之和等于《附列资料（一）》第11列第5栏。
营业税改征增值税的纳税人，服务、不动产和无形资产按规定汇总计算缴纳增值税的分支机构，本列各行次之和等于《附列资料（一）》第11列第13a、13b行之和。
（四）第2列“服务、不动产和无形资产扣除项目”“期初余额”：填写服务、不动产和无形资产扣除项目上期期末结存的金额，试点实施之日的税款所属期填写“0”。本列各行次等于上期《附列资料（三）》第6列对应行次。
本列第4行“6%税率的金融商品转让项目”“期初余额”年初首期填报时应填“0”。
（五）第3列“服务、不动产和无形资产扣除项目”“本期发生额”：填写本期取得的按税法规定准予扣除的服务、不动产和无形资产扣除项目金额。
（六）第4列“服务、不动产和无形资产扣除项目”“本期应扣除金额”：填写服务、不动产和无形资产扣除项目本期应扣除的金额。
本列各行次＝第2列对应各行次+第3列对应各行次
（七）第5列“服务、不动产和无形资产扣除项目”“本期实际扣除金额”：填写服务、不动产和无形资产扣除项目本期实际扣除的金额。
本列各行次≤第4列对应各行次且本列各行次≤第1列对应各行次。
（八）第6列“服务、不动产和无形资产扣除项目”“期末余额”：填写服务、不动产和无形资产扣除项目本期期末结存的金额。
本列各行次＝第4列对应各行次-第5列对应各行次
                </pre></section><section><p class=section-title>六、附表四：《增值税纳税申报表附列资料（四）》（税额抵减情况表）</p><pre class=section-content>

填写说明

本表第1行由发生增值税税控系统专用设备费用和技术维护费的纳税人填写，反映纳税人增值税税控系统专用设备费用和技术维护费按规定抵减增值税应纳税额的情况。
本表第2行由营业税改征增值税纳税人，服务、不动产和无形资产按规定汇总计算缴纳增值税的总机构填写，反映其分支机构预征缴纳税款抵减总机构应纳增值税税额的情况。
本表第3行由销售建筑服务并按规定预缴增值税的纳税人填写，反映其销售建筑服务预征缴纳税款抵减应纳增值税税额的情况。
本表第4行由销售不动产并按规定预缴增值税的纳税人填写，反映其销售不动产预征缴纳税款抵减应纳增值税税额的情况。
本表第5行由出租不动产并按规定预缴增值税的纳税人填写，反映其出租不动产预征缴纳税款抵减应纳增值税税额的情况。
未发生上述业务的纳税人不填写本表。
                </pre></section><section><p class=section-title>七、附表五：《增值税纳税申报表附列资料（五）》（不动产分期抵扣计算表）</p><pre class=section-content>

填表说明

（一）本表由分期抵扣不动产进项税额的纳税人填写。
（二）“税款所属时间”“纳税人名称”的填写同主表。
（三）第1列“期初待抵扣不动产进项税额”：填写纳税人上期期末待抵扣不动产进项税额。
（四）第2列“本期不动产进项税额增加额”：填写本期取得的符合税法规定的不动产进项税额。
（五）第3列“本期可抵扣不动产进项税额”：填写符合税法规定可以在本期抵扣的不动产进项税额。
（六）第4列“本期转入的待抵扣不动产进项税额”：填写按照税法规定本期应转入的待抵扣不动产进项税额。
本列数≤《附列资料（二）》第23栏“税额”。
（七）第5列“本期转出的待抵扣不动产进项税额”：填写按照税法规定本期应转出的待抵扣不动产进项税额。
（八）第6列“期末待抵扣不动产进项税额”：填写本期期末尚未抵扣的不动产进项税额，按表中公式填写。
                </pre></section><section><p class=section-title>八、固定资产抵扣情况：《固定资产(不含不动产)进项税额抵扣情况表》</p><pre class=section-content>

填写说明

本表反映纳税人在《附列资料（二）》“一、申报抵扣的进项税额”中固定资产的进项税额。本表按增值税专用发票、海关进口增值税专用缴款书分别填写。
                </pre></section><section><p class=section-title>九、进项结构明细表：《本期抵扣进项税额结构明细表》</p><pre class=section-content>

填写说明

（一）“税款所属时间”“纳税人名称”的填写同主表。
（二）第1栏反映本期申报抵扣进项税额的合计数。按表中所列公式计算填写。
本栏“税额”列=《附列资料（二）》第12栏“税额”列。
（三）第2至17栏分别反映纳税人按税法规定符合抵扣条件，在本期申报抵扣的不同税率（或征收率）的进项税额。其中，用于购建不动产的进项税额按照本期实际抵扣的进项税额填写。
（四）第18栏反映纳税人按照农产品增值税进项税额核定扣除办法计算抵扣的进项税额。
（五）第19栏反映纳税人按照外贸企业进项税额抵扣证明注明的进项税额。
（六）本表内各栏间逻辑关系如下：
第1栏表内公式为1=2+4+5+10+13+15+17+18+19；
第2栏≥第3栏；
第5栏≥第6栏+第7栏+第8栏+第9栏；
第10栏≥第11栏+第12栏；
第13栏≥第14栏；
第15栏≥第16栏。
                </pre></section><section><p class=section-title>十、减免明细表：《增值税减免税申报明细表》</p><pre class=section-content>

填写说明

（一）本表由享受增值税减免税优惠政策的增值税一般纳税人和小规模纳税人填写。仅享受月销售额不超过3万元（按季纳税9万元）免征增值税政策或未达起征点的增值税小规模纳税人不需填报本表，即小规模纳税人当期增值税纳税申报表主表第12栏“其他免税销售额”“本期数”和第16栏“本期应纳税额减征额”“本期数”均无数据时，不需填报本表。
（二）“税款所属时间”“纳税人名称”的填写同增值税纳税申报表主表（以下简称主表）。
（三）“一、减税项目”由本期按照税收法律、法规及国家有关税收规定享受减征（包含税额式减征、税率式减征）增值税优惠的纳税人填写。
1.“减税性质代码及名称”：根据国家税务总局最新发布的《减免性质及分类表》所列减免性质代码、项目名称填写。同时有多个减征项目的，应分别填写。
2.第1列“期初余额”：填写应纳税额减征项目上期“期末余额”，为对应项目上期应抵减而不足抵减的余额。
3.第2列“本期发生额”：填写本期发生的按照规定准予抵减增值税应纳税额的金额。
4.第3列“本期应抵减税额”：填写本期应抵减增值税应纳税额的金额。本列按表中所列公式填写。
5.第4列“本期实际抵减税额”：填写本期实际抵减增值税应纳税额的金额。本列各行≤第3列对应各行。
一般纳税人填写时，第1行“合计”本列数=主表第23行“一般项目”列“本月数”。
小规模纳税人填写时，第1行“合计”本列数=主表第16行“本期应纳税额减征额”“本期数”。
6.第5列“期末余额”：按表中所列公式填写。
     （四）“二、免税项目”由本期按照税收法律、法规及国家有关税收规定免征增值税的纳税人填写。仅享受小微企业免征增值税政策或未达起征点的小规模纳税人不需填写，即小规模纳税人申报表主表第12栏“其他免税销售额”“本期数”无数据时，不需填写本栏。
1.“免税性质代码及名称”：根据国家税务总局最新发布的《减免性质及分类表》所列减免性质代码、项目名称填写。同时有多个免税项目的，应分别填写。
2.“出口免税”填写纳税人本期按照税法规定出口免征增值税的销售额，但不包括适用免、抵、退税办法出口的销售额。小规模纳税人不填写本栏。
3.第1列“免征增值税项目销售额”：填写纳税人免税项目的销售额。免税销售额按照有关规定允许从取得的全部价款和价外费用中扣除价款的，应填写扣除之前的销售额。
一般纳税人填写时，本列“合计”等于主表第8行“一般项目”列“本月数”。
小规模纳税人填写时，本列“合计”等于主表第12行“其他免税销售额”“本期数”。
4.第2列“免税销售额扣除项目本期实际扣除金额”：免税销售额按照有关规定允许从取得的全部价款和价外费用中扣除价款的，据实填写扣除金额；无扣除项目的，本列填写“0”。
5.第3列“扣除后免税销售额”:按表中所列公式填写。
6.第4列“免税销售额对应的进项税额”：本期用于增值税免税项目的进项税额。小规模纳税人不填写本列，一般纳税人按下列情况填写：
（1）纳税人兼营应税和免税项目的，按当期免税销售额对应的进项税额填写；
（2）纳税人本期销售收入全部为免税项目，且当期取得合法扣税凭证的，按当期取得的合法扣税凭证注明或计算的进项税额填写；
（3）当期未取得合法扣税凭证的，纳税人可根据实际情况自行计算免税项目对应的进项税额；无法计算的，本栏次填“0”。
7.第5列“免税额”：一般纳税人和小规模纳税人分别按下列公式计算填写，且本列各行数应大于或等于0。
一般纳税人公式：第5列“免税额”≤第3列“扣除后免税销售额”×适用税率-第4列“免税销售额对应的进项税额”。
小规模纳税人公式：第5列“免税额”=第3列“扣除后免税销售额”×征收率。
                </pre></section><section><p class=section-title>十一、《营改增税负分析测算明细表》</p><pre class=section-content>

填写说明

本表中“税款所属时间”“纳税人名称”的填写同《增值税纳税申报表（适用一般纳税人）》主表。
一、各列填写说明
（一）“应税项目代码及名称”：根据《营改增试点应税项目明细表》所列项目代码及名称填写，同时有多个项目的，应分项目填写。
（二）“增值税税率或征收率”：根据各项目适用的增值税税率或征收率填写。
（三）“营业税税率”：根据各项目在原营业税税制下适用的原营业税税率填写。
（四）第1列“不含税销售额”：反映纳税人当期对应项目不含税的销售额（含即征即退项目），包括开具增值税专用发票、开具其他发票、未开具发票、纳税检查调整的销售额，纳税人所填项目享受差额征税政策的，本列应填写差额扣除之前的销售额。
（五）第2列“销项(应纳)税额”：反映纳税人根据当期对应项目不含税的销售额计算出的销项税额或应纳税额（简易征收）。
本列各行次＝第1列对应各行次×增值税税率或征收率。
（六）第3列“价税合计”：反映纳税人当期对应项目的价税合计数。
本列各行次＝第1列对应各行次+第2列对应各行次。
（七）第4列“服务、不动产和无形资产扣除项目本期实际扣除金额”：纳税人销售服务、不动产和无形资产享受差额征税政策的，应填写对应项目当期实际差额扣除的金额。不享受差额征税政策的填“0”。
（八）第5列“含税销售额”：纳税人销售服务、不动产和无形资产享受差额征税政策的，应填写对应项目差额扣除后的含税销售额。
本列各行次＝第3列对应各行次-第4列对应各行次。
（九）第6列“销项(应纳)税额”：反映纳税人按现行增值税规定，分项目的增值税销项(应纳)税额，按以下要求填写：
1.销售服务、不动产和无形资产按照一般计税方法计税的
本列各行次＝第5列对应各行次÷(100%+对应行次增值税税率)×对应行次增值税税率。
2.销售服务、不动产和无形资产按照简易计税方法计税的
本列各行次＝第5列对应各行次÷(100%+对应行次增值税征收率)×对应行次增值税征收率。
（十）第7列“增值税应纳税额（测算）”：反映纳税人按现行增值税规定，测算出的对应项目的增值税应纳税额。
1.销售服务、不动产和无形资产按照一般计税方法计税的
本列各行次＝第6列对应各行次÷《增值税纳税申报表（一般纳税人适用）》主表第11栏“销项税额”“一般项目”和“即征即退项目”“本月数”之和×《增值税纳税申报表（一般纳税人适用）》主表第19栏“应纳税额”“一般项目”和“即征即退项目”“本月数”之和。
2.销售服务、不动产和无形资产按照简易计税方法计税的
本列各行次＝第6列对应各行次。
（十一）第8列“原营业税税制下服务、不动产和无形资产差额扣除项目”“期初余额”：填写按原营业税规定，服务、不动产和无形资产差额扣除项目上期期末结存的金额，试点实施之日的税款所属期填写“0”。本列各行次等于上期本表第12列对应行次。
（十二）第9列“原营业税税制下服务、不动产和无形资产差额扣除项目”“本期发生额”：填写按原营业税规定，本期取得的准予差额扣除的服务、不动产和无形资产差额扣除项目金额。
（十三）第10列“原营业税税制下服务、不动产和无形资产差额扣除项目”“本期应扣除金额”：填写按原营业税规定，服务、不动产和无形资产差额扣除项目本期应扣除的金额。
本列各行次＝第8列对应各行次+第9列对应各行次。
（十四）第11列“原营业税税制下服务、不动产和无形资产差额扣除项目”“本期实际扣除金额”：填写按原营业税规定，服务、不动产和无形资产差额扣除项目本期实际扣除的金额。
1.当第10列各行次≤第3列对应行次时
本列各行次＝第10列对应各行次。
2.当第10列各行次>第3列对应行次时
本列各行次＝第3列对应各行次。
（十五）第12列“原营业税税制下服务、不动产和无形资产差额扣除项目”“期末余额”：填写按原营业税规定，服务、不动产和无形资产差额扣除项目本期期末结存的金额。
本列各行次＝第10列对应各行次-第11列对应各行次。
（十六）第13列“应税营业额”：反映纳税人按原营业税规定，对应项目的应税营业额。
本列各行次＝第3列对应各行次-第11列对应各行次。
（十七）第14列“营业税应纳税额”：反映纳税人按原营业税规定，计算出的对应项目的营业税应纳税额。
本列各行次＝第13列对应各行次×对应行次营业税税率。
二、行次填写说明
（一）“合计”行：本行各栏为对应栏次的合计数。
本行第3列“价税合计”=《增值税纳税申报表附列资料（一）》（本期销售情况明细）第11列“价税合计”第2＋4＋5＋9b＋12＋13a＋13b行。
本行第4列“服务、不动产和无形资产扣除项目本期实际扣除金额”=《增值税纳税申报表附列资料（一）》（本期销售情况明细）第12列“服务、不动产和无形资产扣除项目本期实际扣除金额”第2＋4＋5＋9b＋12＋13a＋13b行。
（二）其他行次根据纳税人实际发生业务分项目填写。
                </pre></section></div></div><script src=../../../lib/jquery/jquery.min.js?v=1556520579780_2.0.0></script><script src=../../scripts/reportTip.js?v=1556520579780_2.0.0></script></body></html>