<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit|ie-stand|ie-comp" />
  <meta name="description" content="网上税务局,网上办税服务厅" />
  <meta name="keywords" content="网上税务局,网上办税服务厅" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="../../images/public/favicon.ico" rel="icon" type="image/x-icon" />
  <title>增值税小规模纳税人申报</title>
  <link rel="stylesheet" href="../../../apps/styles/style.css?v=1546588505691_2.0.0" />
  <link rel="stylesheet" href="xgmsb.css?v=1546588505691_2.0.0" />
 </head>
 <body>
  <div id="wizard"></div>
  <div>
   <object id="plugin0" type="application/x-hbcheckcactrl" width="0" height="0"><param name="onload" value="pluginLoaded"></param></object>
   <br />
  </div>
  <div class="mini-window fixedWindowTop0" id="gds-win" title="提示" style="width: 600px;display:none;font-size: 14px">
   <div class="">
    <div class="gds-message"></div>
    <table class="gds-table" border="1" bordercolor="#999" cellspacing="0" style="width: 540px">
     <tbody>
      <tr>
       <td></td>
       <td align="center">原国税</td>
       <td align="center">原地税</td>
      </tr>
      <tr>
       <td>纳税人识别号</td>
       <td id="gs-nsrsbh"></td>
       <td id="ds-nsrsbh"></td>
      </tr>
      <tr>
       <td>纳税人名称</td>
       <td id="gs-nsrmc"></td>
       <td id="ds-nsrmc"></td>
      </tr>
      <tr>
       <td>社会信用代码</td>
       <td id="gs-shxydm"></td>
       <td id="ds-shxydm"></td>
      </tr>
      <tr>
       <td>法人证件类型</td>
       <td id="gs-fddbrsfzjlxDm"></td>
       <td id="ds-fddbrsfzjlxDm"></td>
      </tr>
      <tr>
       <td>法人证件号码</td>
       <td id="gs-fddbrsfzjhm"></td>
       <td id="ds-fddbrsfzjhm"></td>
      </tr>
      <tr>
       <td>法人姓名</td>
       <td id="gs-fddbrxm"></td>
       <td id="ds-fddbrxm"></td>
      </tr>
      <tr>
       <td>税收档案编号</td>
       <td id="gs-ssdabh"></td>
       <td id="ds-ssdabh"></td>
      </tr>
     </tbody>
    </table>
    <div class="btn-group" style="margin-top: 20px; text-align: center;">
     <a class="btn btn-blue" style="border: none;" onclick="methods.changeFjsbz(true)">一体化申报</a> 
     <a class="btn btn-white" style="background-color: #d3433c; border: none;" onclick="methods.changeFjsbz(false)">主税种申报</a>
    </div>
   </div>
  </div>
  <script src="../../../lib/jquery/jquery.min.js?v=1546588505691_2.0.0"></script>
  <script src="../../../apps/scripts/steps.js?v=1546588505691_2.0.0"></script>
  <script src="../../../apps/scripts/miniui.js?v=1546588505691_2.0.0"></script>
  <script src="../../../apps/scripts/sbzxcommon.js?v=1546588505691_2.0.0"></script>
  <script src="../../../apps/scripts/includeHeader.js?v=1546588505691_2.0.0"></script>
  <script src="xgmsbScom.js?v=1546588505691_2.0.0"></script>
  <script src="xgmsbService.js?v=1546588505691_2.0.0"></script>
  <script src="xgmsb.js?v=1546588505691_2.0.0"></script>
  <script src="submit.js?v=1546588505691_2.0.0"></script>
 </body>
</html>