@charset "UTF-8";
.txt-l {
  text-align: left; }

.txt-r {
  text-align: right; }

.txt-c {
  text-align: center; }

.mt20 {
  margin-top: 20px; }

.mb20 {
  margin-bottom: 20px; }

.txt-indt-10 {
  text-indent: 10px; }

i {
  font-style: normal; }

.blue-txt, .pt-txt, #xgmsb-xsxx .title-bold, #xgmsb-cekc .title-bold, #xgmsb-yjse .title-bold, #xgmsb-xsxx .xgmsb-xsxx-title a, #xgmsb-xsxx .xgmsb-xsczbdc a, #xgmsb-cekc .xgmsb-xsxx-title a, #xgmsb-cekc .xgmsb-xsczbdc a, #xgmsb-yjse .xgmsb-xsxx-title a, #xgmsb-yjse .xgmsb-xsczbdc a, #xgmsb-xsxx .xgmsb-cekc-warning i, #xgmsb-cekc .xgmsb-cekc-warning i, #xgmsb-yjse .xgmsb-cekc-warning i, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title .blue-txt, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title .blue-txt, #xgmsb-end .xgmsb-end-actions a {
  color: #0895DC; }

.zy-txt {
  color: #FF497F; }

.mini-tooltip-inner {
  font-size: 14px;
  text-align: left;
  padding: 10px 15px;
  color: #666;
  border: none;
  box-shadow: 0 1px 5px 0 #888; }

.xgmsb-xxhd {
  width: 1160px;
  margin: 30px auto;
  padding: 30px 20px;
  background: #ffffff;
  font-family: "Microsoft YaHei";
  font-size: 14px; }
  .xgmsb-xxhd .xxhd-tips {
    color: #666;
    font-size: 16px; }
  .xgmsb-xxhd .xxhd-title {
    font-weight: bold;
    text-indent: 35px;
    margin: 20px 0 10px; }
  .xgmsb-xxhd .xxhd-jbxx .xxhd-title {
    background: url("../../images/xgmsb/ico-jbxx.png") top left no-repeat; }
  .xgmsb-xxhd .xxhd-jbxx .xxhd-jbxx-content {
    background: #f7f7f7;
    padding: 20px 35px; }
    .xgmsb-xxhd .xxhd-jbxx .xxhd-jbxx-content .jyfw, .xgmsb-xxhd .xxhd-jbxx .xxhd-jbxx-content .nsrmc {
      width: 560px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .xgmsb-xxhd .xxhd-sbzb .xxhd-title {
    background: url("../../images/xgmsb/ico-sbzb.png") top left no-repeat; }
  .xgmsb-xxhd .xxhd-sbzb .xxhd-sbzb-content {
    padding: 5px 20px;
    border: 1px solid #f7f7f7; }
    .xgmsb-xxhd .xxhd-sbzb .xxhd-sbzb-content ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .xgmsb-xxhd .xxhd-sbzb .xxhd-sbzb-content ul li {
        margin: 10px 0; }
        .xgmsb-xxhd .xxhd-sbzb .xxhd-sbzb-content ul li a {
          color: #0A94DD;
          margin-left: 20px;
          text-decoration: none; }
          .xgmsb-xxhd .xxhd-sbzb .xxhd-sbzb-content ul li a:hover {
            text-decoration: underline; }
  .xgmsb-xxhd .xxhd-sbfs .xxhd-title {
    background: url("../../images/xgmsb/ico-sbfs.png") top left no-repeat; }
  .xgmsb-xxhd .xxhd-sbfs .xxhd-sbfs-content {
    padding: 15px 35px; }
    .xgmsb-xxhd .xxhd-sbfs .xxhd-sbfs-content button {
      width: 220px;
      color: #000;
      font-size: 13px;
      padding: 12px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 25px;
      /* background: #0A94DD;*/
      background: #fff; }
      .xgmsb-xxhd .xxhd-sbfs .xxhd-sbfs-content button:focus {
        outline: none; }
      .xgmsb-xxhd .xxhd-sbfs .xxhd-sbfs-content button.xxhd-sbfs-ydssb.active {
        padding-left: 25px;
        border: 1px solid #0A94DD;
        color: #fff;
        background: #0A94DD url("../../images/xgmsb/ico-btn-selected.png") 20px 10px no-repeat; }
      .xgmsb-xxhd .xxhd-sbfs .xxhd-sbfs-content button.xxhd-sbfs-zjsb.active {
        padding-left: 15px;
        border: 1px solid #0A94DD;
        color: #fff;
        background: #0A94DD url("../../images/xgmsb/ico-btn-selected.png") 50px 10px no-repeat; }
  .xgmsb-xxhd .xxhd-cekc .xxhd-title {
    background: url("../../images/xgmsb/ico-sbfs.png") top left no-repeat; }
  .xgmsb-xxhd .xxhd-cekc .xxhd-cekc-content {
    padding: 15px 35px; }
    .xgmsb-xxhd .xxhd-cekc .xxhd-cekc-content button {
      width: 120px;
      color: #000;
      font-size: 13px;
      padding: 12px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 25px;
      /* background: #0A94DD;*/
      background: #fff; }
      .xgmsb-xxhd .xxhd-cekc .xxhd-cekc-content button:focus {
        outline: none; }
      .xgmsb-xxhd .xxhd-cekc .xxhd-cekc-content button.xxhd-cekc-yse.active {
        padding-left: 15px;
        border: 1px solid #0A94DD;
        color: #fff;
        background: #0A94DD url("../../images/xgmsb/ico-btn-selected.png") 30px 10px no-repeat; }
      .xgmsb-xxhd .xxhd-cekc .xxhd-cekc-content button.xxhd-cekc-no.active {
        padding-left: 20px;
        border: 1px solid #0A94DD;
        color: #fff;
        background: #0A94DD url("../../images/xgmsb/ico-btn-selected.png") 25px 10px no-repeat; }
  .xgmsb-xxhd .xxhd-buttons {
    padding: 15px 0;
    margin-top: 20px;
    text-align: center; }

#xgmsb-xsxx, #xgmsb-cekc, #xgmsb-yjse {
  /*.mini-textbox-focus{
    .mini-textbox-border{
      border-left-width: 0;
      border-right-width: 0;
      border-top-width: 0;
    }
  }*/ }
  #xgmsb-xsxx .mini-textbox-border, #xgmsb-cekc .mini-textbox-border, #xgmsb-yjse .mini-textbox-border {
    height: 20px;
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0; }
    #xgmsb-xsxx .mini-textbox-border .mini-textbox-input, #xgmsb-cekc .mini-textbox-border .mini-textbox-input, #xgmsb-yjse .mini-textbox-border .mini-textbox-input {
      height: 20px;
      line-height: 21px; }
  #xgmsb-xsxx .mini-textbox, #xgmsb-cekc .mini-textbox, #xgmsb-yjse .mini-textbox {
    height: 22px; }
  #xgmsb-xsxx .mini-textbox-disabled, #xgmsb-xsxx .mini-textbox-disabled input, #xgmsb-cekc .mini-textbox-disabled, #xgmsb-cekc .mini-textbox-disabled input, #xgmsb-yjse .mini-textbox-disabled, #xgmsb-yjse .mini-textbox-disabled input {
    background: #fff !important; }
  #xgmsb-xsxx .mini-textbox-disabled, #xgmsb-cekc .mini-textbox-disabled, #xgmsb-yjse .mini-textbox-disabled {
    background: #fff; }
    #xgmsb-xsxx .mini-textbox-disabled .mini-textbox-border, #xgmsb-cekc .mini-textbox-disabled .mini-textbox-border, #xgmsb-yjse .mini-textbox-disabled .mini-textbox-border {
      background: #fff; }
  #xgmsb-xsxx .mini-radiobuttonlist, #xgmsb-cekc .mini-radiobuttonlist, #xgmsb-yjse .mini-radiobuttonlist {
    display: inline-block;
    vertical-align: middle; }
    #xgmsb-xsxx .mini-radiobuttonlist label, #xgmsb-cekc .mini-radiobuttonlist label, #xgmsb-yjse .mini-radiobuttonlist label {
      font-family: "Microsoft YaHei";
      margin-bottom: 3px; }
    #xgmsb-xsxx .mini-radiobuttonlist .mini-errorIcon, #xgmsb-cekc .mini-radiobuttonlist .mini-errorIcon, #xgmsb-yjse .mini-radiobuttonlist .mini-errorIcon {
      margin-top: 0; }
  #xgmsb-xsxx .xgmsb-breakLine, #xgmsb-cekc .xgmsb-breakLine, #xgmsb-yjse .xgmsb-breakLine {
    height: 1px;
    background: #eee;
    width: 100%;
    margin: 28px 0 18px; }
  #xgmsb-xsxx .xgmsb-dkfp-content,
  #xgmsb-xsxx .xgmsb-zkfp-content,
  #xgmsb-xsxx .xgmsb-wkjfp-content,
  #xgmsb-xsxx .xgmsb-qtxssr-content, #xgmsb-cekc .xgmsb-dkfp-content,
  #xgmsb-cekc .xgmsb-zkfp-content,
  #xgmsb-cekc .xgmsb-wkjfp-content,
  #xgmsb-cekc .xgmsb-qtxssr-content, #xgmsb-yjse .xgmsb-dkfp-content,
  #xgmsb-yjse .xgmsb-zkfp-content,
  #xgmsb-yjse .xgmsb-wkjfp-content,
  #xgmsb-yjse .xgmsb-qtxssr-content {
    display: none;
    border: 1px solid #E6E6E6;
    border-top-width: 0;
    padding: 5px 20px 10px; }
  #xgmsb-xsxx .xgmsb-cekc-warning, #xgmsb-cekc .xgmsb-cekc-warning, #xgmsb-yjse .xgmsb-cekc-warning {
    border: 1px solid #CAEDFF;
    background: #F0FBFF;
    margin: 20px 0 10px;
    padding: 7px 10px; }
    #xgmsb-xsxx .xgmsb-cekc-warning i, #xgmsb-cekc .xgmsb-cekc-warning i, #xgmsb-yjse .xgmsb-cekc-warning i {
      font-size: 16px;
      margin: 0 5px; }
  #xgmsb-xsxx .xgmsb-cekc-content .xgmsb-cekc-fw, #xgmsb-cekc .xgmsb-cekc-content .xgmsb-cekc-fw, #xgmsb-yjse .xgmsb-cekc-content .xgmsb-cekc-fw {
    border: 1px solid #E6E6E6;
    padding-bottom: 10px;
    margin-bottom: 10px; }
    #xgmsb-xsxx .xgmsb-cekc-content .xgmsb-cekc-fw .xgmsb-cekc-title, #xgmsb-cekc .xgmsb-cekc-content .xgmsb-cekc-fw .xgmsb-cekc-title, #xgmsb-yjse .xgmsb-cekc-content .xgmsb-cekc-fw .xgmsb-cekc-title {
      background: #f7f7f7;
      border-bottom: 1px #E6E6E6 solid;
      padding: 7px 10px;
      font-size: 14px; }
  #xgmsb-xsxx .title-bold, #xgmsb-cekc .title-bold, #xgmsb-yjse .title-bold {
    font-size: 16px;
    margin: 0 5px; }
  #xgmsb-xsxx .xgmsb-xsxx-item, #xgmsb-cekc .xgmsb-xsxx-item, #xgmsb-yjse .xgmsb-xsxx-item {
    margin: 10px 0; }
    #xgmsb-xsxx .xgmsb-xsxx-item span.xgmsb-xsxx-item-name, #xgmsb-cekc .xgmsb-xsxx-item span.xgmsb-xsxx-item-name, #xgmsb-yjse .xgmsb-xsxx-item span.xgmsb-xsxx-item-name {
      display: inline-block;
      width: 280px;
      text-align: right;
      vertical-align: bottom; }
  #xgmsb-xsxx .xgmsb-xsxx-title, #xgmsb-xsxx .xgmsb-xsczbdc, #xgmsb-cekc .xgmsb-xsxx-title, #xgmsb-cekc .xgmsb-xsczbdc, #xgmsb-yjse .xgmsb-xsxx-title, #xgmsb-yjse .xgmsb-xsczbdc {
    padding: 9px 15px 7px;
    background: #f7f7f7;
    border: 1px solid #e6e6e6; }
    #xgmsb-xsxx .xgmsb-xsxx-title a, #xgmsb-xsxx .xgmsb-xsczbdc a, #xgmsb-cekc .xgmsb-xsxx-title a, #xgmsb-cekc .xgmsb-xsczbdc a, #xgmsb-yjse .xgmsb-xsxx-title a, #xgmsb-yjse .xgmsb-xsczbdc a {
      float: right;
      text-decoration: none; }
      #xgmsb-xsxx .xgmsb-xsxx-title a:hover, #xgmsb-xsxx .xgmsb-xsczbdc a:hover, #xgmsb-cekc .xgmsb-xsxx-title a:hover, #xgmsb-cekc .xgmsb-xsczbdc a:hover, #xgmsb-yjse .xgmsb-xsxx-title a:hover, #xgmsb-yjse .xgmsb-xsczbdc a:hover {
        text-decoration: underline; }
  #xgmsb-xsxx .xgmsb-cekc-title, #xgmsb-cekc .xgmsb-cekc-title, #xgmsb-yjse .xgmsb-cekc-title {
    font-size: 16px; }
    #xgmsb-xsxx .xgmsb-cekc-title .mini-radiobuttonlist label, #xgmsb-cekc .xgmsb-cekc-title .mini-radiobuttonlist label, #xgmsb-yjse .xgmsb-cekc-title .mini-radiobuttonlist label {
      font-size: 16px; }

#xgmsb-jmyh .editable-cell, #xgmsb-skjs-grid .editable-cell {
  background: #F1F8FE; }
#xgmsb-jmyh .disable-cell, #xgmsb-skjs-grid .disable-cell {
  background: #f7f7f7; }
#xgmsb-jmyh td.mini-grid-last-row, #xgmsb-skjs-grid td.mini-grid-last-row {
  background: #f7f7f7 !important; }
  #xgmsb-jmyh td.mini-grid-last-row:first-child, #xgmsb-skjs-grid td.mini-grid-last-row:first-child {
    text-align: center; }
#xgmsb-jmyh .xgmsb-jmyh-no, #xgmsb-skjs-grid .xgmsb-jmyh-no {
  text-align: center; }
  #xgmsb-jmyh .xgmsb-jmyh-no .jmyh-content, #xgmsb-skjs-grid .xgmsb-jmyh-no .jmyh-content {
    text-align: left;
    width: 800px;
    margin: 20px auto; }
    #xgmsb-jmyh .xgmsb-jmyh-no .jmyh-content .jmyh-title, #xgmsb-skjs-grid .xgmsb-jmyh-no .jmyh-content .jmyh-title {
      border: 1px solid #d5d5d5;
      padding: 10px 15px;
      background: #f7f7f7; }
      #xgmsb-jmyh .xgmsb-jmyh-no .jmyh-content .jmyh-title a, #xgmsb-skjs-grid .xgmsb-jmyh-no .jmyh-content .jmyh-title a {
        color: #666;
        text-decoration: none;
        float: right; }
        #xgmsb-jmyh .xgmsb-jmyh-no .jmyh-content .jmyh-title a:hover, #xgmsb-skjs-grid .xgmsb-jmyh-no .jmyh-content .jmyh-title a:hover {
          text-decoration: underline; }
    #xgmsb-jmyh .xgmsb-jmyh-no .jmyh-content ul.jmyh-list, #xgmsb-skjs-grid .xgmsb-jmyh-no .jmyh-content ul.jmyh-list {
      margin: 0;
      padding: 0;
      border: 1px solid #d5d5d5;
      border-top-width: 0;
      overflow: hidden; }
      #xgmsb-jmyh .xgmsb-jmyh-no .jmyh-content ul.jmyh-list li.jmyh-item, #xgmsb-skjs-grid .xgmsb-jmyh-no .jmyh-content ul.jmyh-list li.jmyh-item {
        list-style: none;
        padding: 7px 15px; }
        #xgmsb-jmyh .xgmsb-jmyh-no .jmyh-content ul.jmyh-list li.jmyh-item:nth-child(2n), #xgmsb-skjs-grid .xgmsb-jmyh-no .jmyh-content ul.jmyh-list li.jmyh-item:nth-child(2n) {
          background: #f7f7f7; }
#xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title {
  font-weight: bold;
  margin: 10px 0; }
  #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title .pt-txt, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-xsxx .title-bold, #xgmsb-xsxx #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title .title-bold, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-cekc .title-bold, #xgmsb-cekc #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title .title-bold, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-yjse .title-bold, #xgmsb-yjse #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title .title-bold, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-xsxx .xgmsb-xsxx-title a, #xgmsb-xsxx .xgmsb-xsxx-title #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title a, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-xsxx .xgmsb-xsczbdc a, #xgmsb-xsxx .xgmsb-xsczbdc #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title a, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-cekc .xgmsb-xsxx-title a, #xgmsb-cekc .xgmsb-xsxx-title #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title a, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-cekc .xgmsb-xsczbdc a, #xgmsb-cekc .xgmsb-xsczbdc #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title a, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-yjse .xgmsb-xsxx-title a, #xgmsb-yjse .xgmsb-xsxx-title #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title a, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-yjse .xgmsb-xsczbdc a, #xgmsb-yjse .xgmsb-xsczbdc #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title a, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-xsxx .xgmsb-cekc-warning i, #xgmsb-xsxx .xgmsb-cekc-warning #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title i, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-cekc .xgmsb-cekc-warning i, #xgmsb-cekc .xgmsb-cekc-warning #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title i, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-yjse .xgmsb-cekc-warning i, #xgmsb-yjse .xgmsb-cekc-warning #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title i, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title .blue-txt, #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-end .xgmsb-end-actions a, #xgmsb-end .xgmsb-end-actions #xgmsb-jmyh .xgmsb-jmyh-yes .xgmsb-jm-title a, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title .pt-txt, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-xsxx .title-bold, #xgmsb-xsxx #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title .title-bold, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-cekc .title-bold, #xgmsb-cekc #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title .title-bold, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-yjse .title-bold, #xgmsb-yjse #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title .title-bold, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-xsxx .xgmsb-xsxx-title a, #xgmsb-xsxx .xgmsb-xsxx-title #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title a, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-xsxx .xgmsb-xsczbdc a, #xgmsb-xsxx .xgmsb-xsczbdc #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title a, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-cekc .xgmsb-xsxx-title a, #xgmsb-cekc .xgmsb-xsxx-title #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title a, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-cekc .xgmsb-xsczbdc a, #xgmsb-cekc .xgmsb-xsczbdc #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title a, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-yjse .xgmsb-xsxx-title a, #xgmsb-yjse .xgmsb-xsxx-title #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title a, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-yjse .xgmsb-xsczbdc a, #xgmsb-yjse .xgmsb-xsczbdc #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title a, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-xsxx .xgmsb-cekc-warning i, #xgmsb-xsxx .xgmsb-cekc-warning #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title i, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-cekc .xgmsb-cekc-warning i, #xgmsb-cekc .xgmsb-cekc-warning #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title i, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-yjse .xgmsb-cekc-warning i, #xgmsb-yjse .xgmsb-cekc-warning #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title i, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title .blue-txt, #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title #xgmsb-end .xgmsb-end-actions a, #xgmsb-end .xgmsb-end-actions #xgmsb-skjs-grid .xgmsb-jmyh-yes .xgmsb-jm-title a {
    margin: 0 5px; }

#xgmsb-qrsbb .sb_table {
  border: 2px solid #000;
  width: 1150px;
  margin-top: 20px; }
#xgmsb-qrsbb .sb_table td {
  height: 30px;
  border: 1px solid #000; }
#xgmsb-qrsbb .sb_table .pdLeft41 {
  padding-left: 41px;
  width: 242px; }
#xgmsb-qrsbb .sb_table tr.center,
#xgmsb-qrsbb .sb_table td.center {
  text-align: center; }
#xgmsb-qrsbb .sb_table td.noBorder-lb {
  border-left: none;
  border-bottom: none; }
#xgmsb-qrsbb .sb_table td.noBorder-rb {
  border-right: none;
  border-bottom: none; }
#xgmsb-qrsbb .sb_table td.noBorder-lt {
  border-left: none;
  border-top: none; }
#xgmsb-qrsbb .sb_table td.noBorder-rt {
  border-right: none;
  border-top: none; }

#xgmsb-result a:hover {
  text-decoration: none; }
#xgmsb-result .xgmsb-result-success {
  display: inline-block;
  background: url("../../images/xgmsb/ico-msg-box.png") top center no-repeat;
  width: 356px;
  height: 48px;
  line-height: 48px;
  text-align: right;
  padding-right: 15px;
  color: #07541C; }
  #xgmsb-result .xgmsb-result-success a {
    text-decoration: none;
    color: #0066ff; }
#xgmsb-result .xgmsb-result-tips {
  padding: 10px 20px 25px;
  background: #f7f7f7;
  width: 820px;
  margin: 40px auto; }
  #xgmsb-result .xgmsb-result-tips a {
    margin-left: 2em;
    color: #0A94DC; }
  #xgmsb-result .xgmsb-result-tips img {
    margin-left: 2em; }

#xgmsb-end {
  text-align: center;
  margin-top: 45px; }
  #xgmsb-end .xgmsb-end-actions {
    margin: 30px 0; }
    #xgmsb-end .xgmsb-end-actions button {
      border: none;
      background: #0A94DD;
      color: #fff;
      padding: 8px 50px;
      border-radius: 4px; }
      #xgmsb-end .xgmsb-end-actions button:focus {
        outline: none; }
    #xgmsb-end .xgmsb-end-actions a:hover {
      text-decoration: underline; }

#xgmsb-qrsbb .mini-textbox-disabled, #xgmsb-qrsbb .mini-textbox-disabled input {
  background: #fff !important; }
#xgmsb-qrsbb .mini-textbox-border {
  border: solid 1px #fff;
  background: #fff; }
#xgmsb-qrsbb .mini-textbox-input {
  white-space: nowrap;
  text-overflow: ellipsis; }

.sbb-view-actions {
  margin-bottom: 30px;
  text-align: center; }

#xgmsb-jmyh-jsContent #yssyh-link {
  font-size: 16px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #0895DC; }
#xgmsb-jmyh-jsContent #yssyh-link:hover {
  color: blue;
  text-decoration: underline; }

.goToPay {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #0994DC; }

.xb-xz {
  margin-top: 20px; }

.xb-xz td {
  height: 46px; }

.table td {
  border: solid 1px #d7d7d7; }

.text-center {
  text-align: center; }

.xb-xz .btn {
  width: 130px;
  font-size: 13px;
  padding: 8px 0; }

.xb-xz .header {
  background: #eee; }

a {
  text-decoration: none; }

.btn {
  width: 140px;
  color: #fff;
  font-size: 14px;
  padding: 10px 0;
  border: 1px solid #0A94DD;
  border-radius: 4px;
  background: #0A94DD;
  display: inline-block; }
  .btn:hover {
    background: #0974bc; }

.relative {
  position: relative; }
  .relative .tip-box, .relative .tip-box-bottom {
    position: absolute;
    left: 315px;
    width: 250px;
    z-index: 10;
    background-color: #1296db;
    border: 1px solid #1296db;
    padding: 5px;
    top: -10px;
    display: none;
    color: #fff; }
    .relative .tip-box:before, .relative .tip-box-bottom:before {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      background: url("../../images/xgmsb/ico-arrow.png");
      position: absolute;
      left: -21px;
      top: 8px; }
  .relative .tip-box-bottom:before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: url("../../images/xgmsb/ico-arrow-up.png");
    position: absolute;
    left: 118px;
    top: -20px; }

.hover_tip:hover .tip-box, .hover_tip:hover .relative .tip-box-bottom, .relative .hover_tip:hover .tip-box-bottom {
  display: block;
  left: -61px;
  top: 35px; }
.hover_tip:hover .tip-box-bottom {
  display: block;
  left: -60px;
  top: 42px; }

.txxx-box {
  background-color: #f6f6f6;
  margin-bottom: 10px;
  height: 210px; }
  .txxx-box .input-part .label {
    display: inline-block;
    width: 310px; }
  .txxx-box .input-box {
    display: inline-block;
    width: 300px; }
  .txxx-box .mini-textbox-border {
    border-top: none;
    border-left: none;
    border-right: none; }
  .txxx-box .box {
    padding: 15px; }
    .txxx-box .box .input-part {
      padding: 2px 0; }
  .txxx-box .tit {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    line-height: 40px;
    padding-left: 12px; }

.skjs td {
  padding: 8px; }

td.row-index {
  text-align: center; }

.mini-tips {
  color: red;
  padding: 10px 30px;
  text-align: center;
  min-width: 200px;
  margin-top: 110px !important;
  background-color: #fffce7;
  border: 1px solid #f8cc7e;
  color: #ff5a00; }

.mini-textbox-border {
  border-radius: 0; }

.hide {
  display: none; }

.help-ico {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  background: #1296db;
  margin-right: 10px; }

.tip-span {
  position: absolute;
  width: 250px;
  z-index: 10;
  background-color: #1296db;
  border: 1px solid #1296db;
  padding: 5px;
  margin-left: 20px;
  bottom: 10px;
  color: #fff; }
  .tip-span:before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: url("../../images/xgmsb/ico-arrow.png");
    position: absolute;
    left: -21px;
    top: 8px; }

.mini-window.fixedWindowTop0 {
  position: fixed !important;
  top: 0 !important; }

/*一窗式比对结果样式*/
.ycsResult {
  background: #fff; }
  .ycsResult table {
    border-collapse: collapse;
    border: none;
    table-layout: fixed;
    width: 100%; }
    .ycsResult table td {
      border: 1px solid #eee;
      padding: 5px !important; }
  .ycsResult .ycsbdjgHead table tr {
    background: #ddd; }
  .ycsResult .ycsbdjgList {
    height: 240px;
    overflow-y: auto; }
    .ycsResult .ycsbdjgList table tr {
      cursor: pointer; }
      .ycsResult .ycsbdjgList table tr:nth-child(even) {
        background: #ddd; }
      .ycsResult .ycsbdjgList table tr:hover {
        background: #f2f8ff; }
  .ycsResult .ycsbdDetail {
    border: 1px solid #eee;
    font-size: 14px;
    height: 120px;
    overflow-y: auto;
    padding: 0 5px; }

/*# sourceMappingURL=xgmsb.css.map */
