<!DOCTYPE html><html lang=en><head><meta charset=UTF-8><meta http-equiv=X-UA-Compatible content="IE=Edge,chrome=1"><meta name=viewport content="width=device-width, initial-scale=1.0"><title>增值税小规模申报填表说明</title><link rel=stylesheet href=../../../apps/scripts/reportSB3.0/style.css?v=1553847289871_2.0.0></head><body><div class="container container-tips"><div class=navigator id=navigator></div><div class=main><h2 class=title>《增值税纳税申报表（小规模纳税人适用）》及其附列资料填写说明</h2><h3 class=subtitle>本纳税申报表及其附列资料填写说明（以下简称本表及填写说明）适用于增值税小规模纳税人（以下简称纳税人）。</h3><section><p class=section-title>一、名词解释</p><pre class=section-content>
                    （一）本表及填写说明所称 “货物”，是指增值税的应税货物。
                    （二）本表及填写说明所称 “劳务”，是指增值税的应税加工、修理、修配劳务。
                    （三）本表及填写说明所称 “服务、不动产和无形资产”，是指销售服务、不动产和无形资产（以下简称应税行为）。
                    （四）本表及填写说明所称 “扣除项目”，是指纳税人发生应税行为，在确定销售额时，按照有关规定允许其从取得的全部价款和价外费用中扣除价款的项目。
                </pre></section><section><p class=section-title>二、《增值税纳税申报表（小规模纳税人适用）》</p><pre class=section-content>
                填写说明
                本表“货物及劳务”与“服务、不动产和无形资产”各项目应分别填写。
（一）“税款所属期”是指纳税人申报的增值税应纳税额的所属时间，应填写具体的起止年、月、日。
（二）“纳税人识别号”栏，填写纳税人的税务登记证件号码。
（三）“纳税人名称”栏，填写纳税人名称全称。
（四）第1栏“应征增值税不含税销售额（3%征收率）”：填写本期销售货物及劳务、发生应税行为适用3%征收率的不含税销售额，不包括应税行为适用5%征收率的不含税销售额、销售使用过的固定资产和销售旧货的不含税销售额、免税销售额、出口免税销售额、查补销售额。
纳税人发生适用3%征收率的应税行为且有扣除项目的，本栏填写扣除后的不含税销售额，与当期《增值税纳税申报表（小规模纳税人适用）附列资料》第8栏数据一致。
（五）第2栏“税务机关代开的增值税专用发票不含税销售额”：填写税务机关代开的增值税专用发票销售额合计。
（六）第3栏“税控器具开具的普通发票不含税销售额”：填写税控器具开具的货物及劳务、应税行为的普通发票金额换算的不含税销售额。
（七）第4栏“应征增值税不含税销售额（5%征收率）”：填写本期发生应税行为适用5%征收率的不含税销售额。
纳税人发生适用5%征收率应税行为且有扣除项目的，本栏填写扣除后的不含税销售额，与当期《增值税纳税申报表（小规模纳税人适用）附列资料》第16栏数据一致。
（八）第5栏“税务机关代开的增值税专用发票不含税销售额”：填写税务机关代开的增值税专用发票销售额合计。
（九）第6栏“税控器具开具的普通发票不含税销售额”：填写税控器具开具的发生应税行为的普通发票金额换算的不含税销售额。
（十）第7栏“销售使用过的固定资产不含税销售额”：填写销售自己使用过的固定资产（不含不动产，下同）和销售旧货的不含税销售额，销售额=含税销售额/（1+3%）。
（十一）第8栏“税控器具开具的普通发票不含税销售额”：填写税控器具开具的销售自己使用过的固定资产和销售旧货的普通发票金额换算的不含税销售额。
（十二）第9栏“免税销售额”：填写销售免征增值税的货物及劳务、应税行为的销售额，不包括出口免税销售额。
应税行为有扣除项目的纳税人，填写扣除之前的销售额。
（十三）第10栏“小微企业免税销售额”：填写符合小微企业免征增值税政策的免税销售额，不包括符合其他增值税免税政策的销售额。个体工商户和其他个人不填写本栏次。
（十四）第11栏“未达起征点销售额”：填写个体工商户和其他个人未达起征点（含支持小微企业免征增值税政策）的免税销售额，不包括符合其他增值税免税政策的销售额。本栏次由个体工商户和其他个人填写。
（十五）第12栏“其他免税销售额”：填写销售免征增值税的货物及劳务、应税行为的销售额，不包括符合小微企业免征增值税和未达起征点政策的免税销售额。
（十六）第13栏“出口免税销售额”：填写出口免征增值税货物及劳务、出口免征增值税应税行为的销售额。
应税行为有扣除项目的纳税人，填写扣除之前的销售额。
（十七）第14栏“税控器具开具的普通发票销售额”：填写税控器具开具的出口免征增值税货物及劳务、出口免征增值税应税行为的普通发票销售额。
（十八）第15栏“本期应纳税额”：填写本期按征收率计算缴纳的应纳税额。
（十九）第16栏“本期应纳税额减征额”：填写纳税人本期按照税法规定减征的增值税应纳税额。包含可在增值税应纳税额中全额抵减的增值税税控系统专用设备费用以及技术维护费，可在增值税应纳税额中抵免的购置税控收款机的增值税税额。
当本期减征额小于或等于第15栏“本期应纳税额”时，按本期减征额实际填写；当本期减征额大于第15栏“本期应纳税额”时，按本期第15栏填写，本期减征额不足抵减部分结转下期继续抵减。
（二十）第17栏“本期免税额”：填写纳税人本期增值税免税额，免税额根据第9栏“免税销售额”和征收率计算。
（二十一）第18栏“小微企业免税额”：填写符合小微企业免征增值税政策的增值税免税额，免税额根据第10栏“小微企业免税销售额”和征收率计算。
（二十二）第19栏“未达起征点免税额”：填写个体工商户和其他个人未达起征点（含支持小微企业免征增值税政策）的增值税免税额，免税额根据第11栏“未达起征点销售额”和征收率计算。
（二十三）第21栏“本期预缴税额”：填写纳税人本期预缴的增值税额，但不包括查补缴纳的增值税额。
                </pre></section><section><p class=section-title>三、《增值税纳税申报表（小规模纳税人适用）附列资料》</p><pre class=section-content>
                填写说明

本附列资料由发生应税行为且有扣除项目的纳税人填写，各栏次均不包含免征增值税项目的金额。
（一）“税款所属期”是指纳税人申报的增值税应纳税额的所属时间，应填写具体的起止年、月、日。
（二）“纳税人名称”栏，填写纳税人名称全称。
（三）第1栏“期初余额”：填写适用3%征收率的应税行为扣除项目上期期末结存的金额，试点实施之日的税款所属期填写“0”。
（四）第2栏 “本期发生额”：填写本期取得的按税法规定准予扣除的适用3%征收率的应税行为扣除项目金额。
（五）第3栏“本期扣除额”：填写适用3%征收率的应税行为扣除项目本期实际扣除的金额。
第3栏“本期扣除额”≤第1栏“期初余额”+第2栏“本期发生额”之和，且第3栏“本期扣除额”≤第5栏“全部含税收入（适用3%征收率）”。
（六）第4栏“期末余额”：填写适用3%征收率的应税行为扣除项目本期期末结存的金额。
（七）第5栏“全部含税收入（适用3%征收率）”：填写纳税人适用3%征收率的应税行为取得的全部价款和价外费用数额。
（八）第6栏“本期扣除额”：填写本附列资料第3栏“本期扣除额”的数据。
第6栏“本期扣除额”=第3栏“本期扣除额”。
（九）第7栏“含税销售额”：填写适用3%征收率的应税行为的含税销售额。
第7栏“含税销售额”=第5栏“全部含税收入（适用3%征收率）”-第6栏“本期扣除额”。
（十）第8栏“不含税销售额”：填写适用3%征收率的应税行为的不含税销售额。
第8栏“不含税销售额”=第7栏“含税销售额”÷1.03，与《增值税纳税申报表（小规模纳税人适用）》第1栏“应征增值税不含税销售额（3%征收率）”“本期数”“服务、不动产和无形资产”栏数据一致。
（十一）第9栏“期初余额”：填写适用5%征收率的应税行为扣除项目上期期末结存的金额，试点实施之日的税款所属期填写“0”。
（十二）第10栏 “本期发生额”：填写本期取得的按税法规定准予扣除的适用5%征收率的应税行为扣除项目金额。
（十三）第11栏“本期扣除额”：填写适用5%征收率的应税行为扣除项目本期实际扣除的金额。
第11栏“本期扣除额”≤第9栏“期初余额”+第10栏“本期发生额”之和，且第11栏“本期扣除额”≤第13栏“全部含税收入（适用5%征收率）”。
（十四）第12栏“期末余额”：填写适用5%征收率的应税行为扣除项目本期期末结存的金额。
（十五）第13栏“全部含税收入（适用5%征收率）”：填写纳税人适用5%征收率的应税行为取得的全部价款和价外费用数额。
（十六）第14栏“本期扣除额”：填写本附列资料第11栏“本期扣除额”的数据。
第14栏“本期扣除额”=第11栏“本期扣除额”。
（十七）第15栏“含税销售额”：填写适用5%征收率的应税行为的含税销售额。
第15栏“含税销售额”=第13栏“全部含税收入（适用5%征收率）”-第14栏“本期扣除额”。
（十八）第16栏“不含税销售额”：填写适用5%征收率的应税行为的不含税销售额。
第16栏“不含税销售额”=第15栏“含税销售额”÷1.05，与《增值税纳税申报表（小规模纳税人适用）》第4栏“应征增值税不含税销售额（5%征收率）”“本期数”“服务、不动产和无形资产”栏数据一致。
                    </pre></section><section><p class=section-title>四、《增值税减免税申报明细表》</p><pre class=section-content>
填写说明

（一）本表由享受增值税减免税优惠政策的增值税一般纳税人和小规模纳税人填写。仅享受月销售额不超过3万元（按季纳税9万元）免征增值税政策或未达起征点的增值税小规模纳税人不需填报本表，即小规模纳税人当期增值税纳税申报表主表第12栏“其他免税销售额”“本期数”和第16栏“本期应纳税额减征额”“本期数”均无数据时，不需填报本表。
（二）“税款所属时间”“纳税人名称”的填写同增值税纳税申报表主表（以下简称主表）。
（三）“一、减税项目”由本期按照税收法律、法规及国家有关税收规定享受减征（包含税额式减征、税率式减征）增值税优惠的纳税人填写。
1.“减税性质代码及名称”：根据国家税务总局最新发布的《减免性质及分类表》所列减免性质代码、项目名称填写。同时有多个减征项目的，应分别填写。
2.第1列“期初余额”：填写应纳税额减征项目上期“期末余额”，为对应项目上期应抵减而不足抵减的余额。
3.第2列“本期发生额”：填写本期发生的按照规定准予抵减增值税应纳税额的金额。
4.第3列“本期应抵减税额”：填写本期应抵减增值税应纳税额的金额。本列按表中所列公式填写。
5.第4列“本期实际抵减税额”：填写本期实际抵减增值税应纳税额的金额。本列各行≤第3列对应各行。
一般纳税人填写时，第1行“合计”本列数=主表第23行“一般项目”列“本月数”。
小规模纳税人填写时，第1行“合计”本列数=主表第16行“本期应纳税额减征额”“本期数”。
6.第5列“期末余额”：按表中所列公式填写。
（四）“二、免税项目”由本期按照税收法律、法规及国家有关税收规定免征增值税的纳税人填写。仅享受小微企业免征增值税政策或未达起征点的小规模纳税人不需填写，即小规模纳税人申报表主表第12栏“其他免税销售额”“本期数”无数据时，不需填写本栏。
1.“免税性质代码及名称”：根据国家税务总局最新发布的《减免性质及分类表》所列减免性质代码、项目名称填写。同时有多个免税项目的，应分别填写。
2.“出口免税”填写纳税人本期按照税法规定出口免征增值税的销售额，但不包括适用免、抵、退税办法出口的销售额。小规模纳税人不填写本栏。
3.第1列“免征增值税项目销售额”：填写纳税人免税项目的销售额。免税销售额按照有关规定允许从取得的全部价款和价外费用中扣除价款的，应填写扣除之前的销售额。
一般纳税人填写时，本列“合计”等于主表第8行“一般项目”列“本月数”。
小规模纳税人填写时，本列“合计”等于主表第12行“其他免税销售额”“本期数”。
4.第2列“免税销售额扣除项目本期实际扣除金额”：免税销售额按照有关规定允许从取得的全部价款和价外费用中扣除价款的，据实填写扣除金额；无扣除项目的，本列填写“0”。
5.第3列“扣除后免税销售额”:按表中所列公式填写。
6.第4列“免税销售额对应的进项税额”：本期用于增值税免税项目的进项税额。小规模纳税人不填写本列，一般纳税人按下列情况填写：
（1）纳税人兼营应税和免税项目的，按当期免税销售额对应的进项税额填写；
（2）纳税人本期销售收入全部为免税项目，且当期取得合法扣税凭证的，按当期取得的合法扣税凭证注明或计算的进项税额填写；
（3）当期未取得合法扣税凭证的，纳税人可根据实际情况自行计算免税项目对应的进项税额；无法计算的，本栏次填“0”。
7.第5列“免税额”：一般纳税人和小规模纳税人分别按下列公式计算填写，且本列各行数应大于或等于0。
一般纳税人公式：第5列“免税额”≤第3列“扣除后免税销售额”×适用税率-第4列“免税销售额对应的进项税额”。
小规模纳税人公式：第5列“免税额”=第3列“扣除后免税销售额”×征收率。
                    </pre></section></div></div><script src=../../../lib/jquery/jquery.min.js?v=1553847289871_2.0.0></script><script src=../../scripts/reportTip.js?v=1553847289871_2.0.0></script></body></html>