
<div class=table-box>
    <table id=table_001 class=sb_table type=sb sb_id=001 sb_url=config sb_title=增值税纳税申报表>
        <thead>
            <tr>
                <td colspan=11 class=table-title>增值税纳税申报表<br>（小规模纳税人适用）</td>
                <td class=hidden><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=int disabled= disabled></td>
                <td class=hidden><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=int disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=int disabled= disabled></td>
                <td class=hidden><input type=text servyou_type=int disabled= disabled></td>
            </tr>
            <tr class=hidden></tr>
            <tr>
                <td colspan=11 class=txt-l>纳税人识别号：<span class=nsrsbh></span></td>
            </tr>
            <tr>
                <td colspan=11 class=txt-l>纳税人名称（公章）：<span class=nsrmc></span></td>
            </tr>
            <tr>
                <td colspan=4 class=txt-l>
                    税款所属时期：
                    <span class=sssqq></span> 至
                    <span class=sssqz></span>
                </td>
                <td colspan=4 class=txt-l>填表日期：<span class=tbrq></span></td>
                <td colspan=3 class=txt-r>金额单位：元至角分</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan=17 width='150"'>一、计税依据</td>
                <td rowspan=2 colspan=2>
                    <span class=mr60>项</span>
                    <span>目</span>
                </td>
                <td class=hidden></td>
                <td rowspan=2 width=100>栏次</td>
                <td colspan=4>本期数</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td colspan=3>本年累计</td>
                <td class=hidden></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-nowrap>货物及劳务</td>
                <td class=hidden></td>
                <td colspan=2 class=txt-nowrap>服务、不动产和无形资产</td>
                <td class=hidden></td>
                <td colspan=2 class=txt-nowrap>货物及劳务</td>
                <td class=hidden></td>
                <td class=txt-nowrap width=120>服务、不动产和无形资产</td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">（一）应征增值税不含税销售额（3%征收率）</td>
                <td class=hidden></td>
                <td>1</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-indent-1 txt-nowrap">税务机关代开的增值税专用发票不含税销售额</td>
                <td class=hidden></td>
                <td>2</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-indent-1 txt-nowrap">税控器具开具的普通发票不含税销售额</td>
                <td class=hidden></td>
                <td>3</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">（二）应征增值税不含税销售额（5%征收率）</td>
                <td class=hidden></td>
                <td>4</td>
                <td colspan=2>--</td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2>--</td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-indent-1 txt-nowrap">税务机关代开的增值税专用发票不含税销售额</td>
                <td class=hidden></td>
                <td>5</td>
                <td colspan=2>--</td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2>--</td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-indent-1 txt-nowrap">税控器具开具的普通发票不含税销售额</td>
                <td class=hidden></td>
                <td>6</td>
                <td colspan=2>--</td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2>--</td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">（三）销售使用过的应税固定资产不含税销售额</td>
                <td class=hidden></td>
                <td>7（7≥8）</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2>--</td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td>--</td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">其中：税控器具开具的普通发票不含税销售额</td>
                <td class=hidden></td>
                <td>8</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2>--</td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td>--</td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">（四）免税销售额</td>
                <td class=hidden></td>
                <td>9=10+11+12</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">其中：小微企业免税销售额</td>
                <td class=hidden></td>
                <td>10</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-indent-3 txt-nowrap">未达起征点销售额</td>
                <td class=hidden></td>
                <td>11</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-indent-3 txt-nowrap">其他免税销售额</td>
                <td class=hidden></td>
                <td>12</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">（五）出口免税销售额</td>
                <td class=hidden></td>
                <td>13(13≥14)</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">其中：税控器具开具的普通发票销售额</td>
                <td class=hidden></td>
                <td>14</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">核定销售额</td>
                <td class=hidden></td>
                <td>15</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td rowspan=10>二、税款计算</td>
                <td colspan=2 class="txt-l txt-nowrap">本期应纳税额</td>
                <td class=hidden></td>
                <td>16</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">核定应纳税额</td>
                <td class=hidden></td>
                <td>17</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">本期应纳税额减征额</td>
                <td class=hidden></td>
                <td>18</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">本期免税额</td>
                <td class=hidden></td>
                <td>19</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">其中：小微企业免税额</td>
                <td class=hidden></td>
                <td>20</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-indent-3 txt-nowrap">未达起征点免税额</td>
                <td class=hidden></td>
                <td>21</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">应纳税额合计</td>
                <td class=hidden></td>
                <td>22＝16-18</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">本期预缴税额</td>
                <td class=hidden></td>
                <td>23</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2>--</td>
                <td class=hidden></td>
                <td>--</td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class="txt-l txt-nowrap">本期应补（退）税额</td>
                <td class=hidden></td>
                <td>24＝22-23</td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2 class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=hidden></td>
                <td colspan=2>--</td>
                <td class=hidden></td>
                <td>--</td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td colspan=2 class=txt-l></td>
                <td class=hidden></td>
                <td></td>
                <td colspan=2></td>
                <td class=hidden></td>
                <td colspan=2></td>
                <td class=hidden></td>
                <td colspan=2></td>
                <td class=hidden></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td rowspan=6 colspan=2 class=txt-l width=155>纳税人或代理人声明：<br>本纳税申报表是根据国家税收法律法规及相关规定填报的，我确定它是真实的、可靠的、完整的。</td>
                <td colspan=9 class=txt-l>如纳税人填报，由纳税人填写以下各栏：</td>
            </tr>
            <tr>
                <td class="txt-l nbr nbb">办税人员：</td>
                <td class="nbl nbr nbb"></td>
                <td class="txt-l nbl nbr nbb">财务负责人：</td>
                <td colspan=6 class="nbl nbb"></td>
            </tr>
            <tr>
                <td class="txt-l nbr">法定代表人：</td>
                <td class="nbl nbr"></td>
                <td class="txt-l nbl nbr">联系电话：</td>
                <td colspan=6 class=nbl></td>
            </tr>
            <tr>
                <td colspan=9 class=txt-l>如委托代理人填报，由代理人填写以下各栏：</td>
            </tr>
            <tr>
                <td class="txt-l nbr nbb">代理人名称（公章）：</td>
                <td class="nbl nbr nbb"></td>
                <td class="txt-l nbl nbr nbb">经办人：</td>
                <td colspan=6 class="nbl nbb"></td>
            </tr>
            <tr>
                <td class="txt-l nbr"></td>
                <td class="nbl nbr"></td>
                <td class="txt-l nbl nbr">联系电话：</td>
                <td colspan=6 class=nbl></td>
            </tr>
        </tfoot>
    </table>
</div>