
<div class=table-box>
    <table id=table_008 class=sb_table type=sb sb_id=008 sb_url=config sb_title=增值税减免税申报明细表>
        <thead>
            <tr>
                <td colspan=9 class=table-title>增值税减免税申报明细表</td>
            </tr>
            <tr>
                <td colspan=9>
                    税款所属时间：
                    <span class=sssqq></span> 至
                    <span class=sssqz></span>
                </td>
            </tr>
            <tr>
                <td colspan=7 class=txt-l>纳税人名称（公章）：<span class=nsrmc></span></td>
                <td colspan=2 class=txt-r>金额单位：元（列至角分）</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan=9>一、减税项目</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td rowspan=2 colspan=3>减税性质代码及名称</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td rowspan=2>栏次</td>
                <td>期初余额</td>
                <td>本期发生额</td>
                <td>本期应抵减税额</td>
                <td>本期实际抵减税额</td>
                <td>期末余额</td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>1</td>
                <td>2</td>
                <td>3=1+2</td>
                <td>4≤3</td>
                <td>5=3-4</td>
            </tr>
            <tr>
                <td colspan=3>合计</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>1</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=3 class=txt-l><input class=mini-combobox id=jm2 name=jm2 textfield=MC valuefield=ID shownullitem=true width=100% onvaluechanged=xgm.controlJM_008 popupwidth=800 enabled=false></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>2</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=3 class=txt-l><input class=mini-combobox id=jm3 name=jm3 textfield=MC valuefield=ID shownullitem=true width=100% onvaluechanged=xgm.controlJM_008 popupwidth=800 enabled=false></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>3</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=3 class=txt-l><input class=mini-combobox id=jm4 name=jm4 textfield=MC valuefield=ID shownullitem=true width=100% onvaluechanged=xgm.controlJM_008 popupwidth=800 enabled=false></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>4</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=3 class=txt-l><input class=mini-combobox id=jm5 name=jm5 textfield=MC valuefield=ID shownullitem=true width=100% onvaluechanged=xgm.controlJM_008 popupwidth=800 enabled=false></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>5</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=3 class=txt-l><input class=mini-combobox id=jm6 name=jm6 textfield=MC valuefield=ID shownullitem=true width=100% onvaluechanged=xgm.controlJM_008 popupwidth=800 enabled=false></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>6</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=9>二、免税项目</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
            </tr>
            <tr>
                <td rowspan=2 colspan=3>免税性质代码及名称</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td rowspan=2>栏次</td>
                <td>免征增值税项目销售额</td>
                <td>免税销售额扣除项目<br>本期实际扣除金额</td>
                <td>扣除后免税销售额</td>
                <td>免税销售额对应的<br>进项税额</td>
                <td>免税额</td>
            </tr>
            <tr>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>1</td>
                <td>2</td>
                <td>3=1-2</td>
                <td>4</td>
                <td>5</td>
            </tr>
            <tr>
                <td colspan=3>合计</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>7</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
            <tr>
                <td colspan=3>出口免税</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>8</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r>--</td>
                <td class=txt-r>--</td>
                <td class=txt-r>--</td>
                <td class=txt-r>--</td>
            </tr>
            <tr>
                <td colspan=3>其中：跨境服务</td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>9</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r>--</td>
                <td class=txt-r>--</td>
                <td class=txt-r>--</td>
                <td class=txt-r>--</td>
            </tr>
            <tr>
                <td colspan=3 class=txt-l><input class=mini-combobox id=jm10 name=jm10 textfield=MC valuefield=ID shownullitem=true width=100% onvaluechanged=xgm.controlJM_008 popupwidth=800 enabled=false></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>10</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled servyou_type=nonnegative></td>
            </tr>
            <tr>
                <td colspan=3 class=txt-l><input class=mini-combobox id=jm11 name=jm11 textfield=MC valuefield=ID shownullitem=true width=100% onvaluechanged=xgm.controlJM_008 popupwidth=800 enabled=false></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>11</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled servyou_type=nonnegative></td>
            </tr>
            <tr>
                <td colspan=3 class=txt-l><input class=mini-combobox id=jm12 name=jm12 textfield=MC valuefield=ID shownullitem=true width=100% onvaluechanged=xgm.controlJM_008 popupwidth=800 enabled=false></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>12</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled servyou_type=nonnegative></td>
            </tr>
            <tr>
                <td colspan=3 class=txt-l><input class=mini-combobox id=jm13 name=jm13 textfield=MC valuefield=ID shownullitem=true width=100% onvaluechanged=xgm.controlJM_008 popupwidth=800 enabled=false></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>13</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled servyou_type=nonnegative></td>
            </tr>
            <tr>
                <td colspan=3 class=txt-l><input class=mini-combobox id=jm14 name=jm14 textfield=MC valuefield=ID shownullitem=true width=100% onvaluechanged=xgm.controlJM_008 popupwidth=800 enabled=false></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>14</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled servyou_type=nonnegative></td>
            </tr>
            <tr>
                <td colspan=3 class=txt-l><input class=mini-combobox id=jm15 name=jm15 textfield=MC valuefield=ID shownullitem=true width=100% onvaluechanged=xgm.controlJM_008 popupwidth=800 enabled=false></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>15</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled servyou_type=nonnegative></td>
            </tr>
            <tr>
                <td colspan=3 class=txt-l><input class=mini-combobox id=jm16 name=jm16 textfield=MC valuefield=ID shownullitem=true width=100% onvaluechanged=xgm.controlJM_008 popupwidth=800 enabled=false></td>
                <td class=hidden></td>
                <td class=hidden></td>
                <td>16</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled servyou_type=nonnegative></td>
            </tr>
        </tbody>
    </table>
</div>