
<div class=table-box>
    <table id=table_002 class="sb_table fixed" type=sb sb_url=config sb_id=002 sb_title=城镇土地使用税减免税明细申报表>
        <thead>
            <tr>
                <td colspan=10 class=table-title>城镇土地使用税减免税明细申报表</td>
            </tr>
            <tr>
                <td colspan=3 class=txt-l>
                    税款所属期：自
                    <span class=sssqq></span>至
                    <span class=sssqz></span>
                </td>
                <td colspan=4>填表日期：<span class=tbrq></span></td>
                <td colspan=3 class=txt-r>金额单位：元至角分；面积单位：平方米</td>
            </tr>
            <tr>
                <td colspan=5 class=txt-l>纳税人识别号：<span class=nsrsbh></span></td>
                <td colspan=5 class=txt-r>纳税人名称：<span class=nsrmc></span></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>序号</td>
                <td>土地编号</td>
                <td>税款所属期起</td>
                <td>税款所属期止</td>
                <td>减免性质代码</td>
                <td>减免项目名称</td>
                <td>减免面积</td>
                <td>土地等级</td>
                <td>税额标准</td>
                <td>本期减免税额</td>
            </tr>
            <tr class=hj002>
                <td colspan=2>合计</td>
                <td class=hidden></td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
                <td>--</td>
                <td>--</td>
                <td class=txt-r><input type=text value=0.00 disabled= disabled></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan=10 class="txt-l txt-bold">以下由纳税人填写：</td>
            </tr>
            <tr>
                <td colspan=2>纳税人声明：</td>
                <td colspan=8 class=txt-l>此纳税申报表是根据《中华人民共和国城镇土地使用税暂行条例》和国家有关税收规定填报的，是真实的、可靠的、完整的。</td>
            </tr>
            <tr>
                <td>纳税人签章</td>
                <td colspan=2></td>
                <td>代理人签章</td>
                <td colspan=2></td>
                <td colspan=2>代理人身份证号</td>
                <td colspan=2></td>
            </tr>
            <tr>
                <td colspan=10 class="txt-l txt-bold">以下由税务机关填写：</td>
            </tr>
            <tr>
                <td>受理人</td>
                <td colspan=2></td>
                <td>受理日期</td>
                <td colspan=2 class=txt-r>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</td>
                <td colspan=2>受理税务机关签章</td>
                <td colspan=2></td>
            </tr>
        </tfoot>
    </table>
</div>